<div class='cnv-divider'>
  <div class='cnv-divider-inner'><%= name %></div>
</div>

<div class='cnv-note'>
  <div class='cnv-note-inner'>
    <%= collection.length %>
    <%= adjective %>
    <%= collection.length > 1 ? 'Conversations' : 'Conversation' %>
  </div>
</div>
