<div class='cnv-right'>
  <span class='cnv-time'>6:34pm</span><span class='cnv-count'>2</span>
</div>

<div class='cnv-left'>
  <div class="cnv-title"><%= conversation.escape('title') %></div>
  <div class="cnv-participants">
    <% conversation.get('participants').each(function(participant) { %>
      <span class="cnv-participant"><%= participant.escape('name') %></span>
    <% }); %>
  </div>
</div>

