<div class='cnv-right'>
  <span class='cnv-time'><%= conversation.humanizedTimestamp() %></span>
  <% if (conversation.unreadCount() > 0) { %>
    <span class='cnv-count'><%= conversation.unreadCount() %></span>
  <% } %>
</div>

<div class='cnv-left'>
  <div class="cnv-title"><%= conversation.escape('title') %></div>
  <div class="cnv-participants">
    <% conversation.get('participants').forEach(function(participant){%>
      <span class="cnv-participant"><%= participant.escape('name') %></span>
    <% }); %>
  </div>
</div>

