<div class='cnv-right'>
  <span class='cnv-time'><%= conversation.humanizedTimestamp() %></span>
  <% if (conversation.get("unread_count") > 0) { %>
  <span class='cnv-count'>
    <%=conversation.get('unread_count')%>
  </span>
  <% } %>
</div>

<div class='cnv-left'>
  <div class="cnv-title"><%= conversation.escape('title') %></div>
  <div class="cnv-participants">
    <% conversation.get('participants').forEach(function(participant) { %>
      <span class="cnv-participant"><%= participant.escape('name') %></span>
    <% }); %>
  </div>
</div>

