<a href="#">
  <div class="cnv-title"><%= conversation.escape('title') %></div>
  <div class="cnv-participants">
    <% conversation.get('participants').each(function(participant) { %>
      <span class="cnv-participant"><%= participant.escape('name') %></span>
    <% }); %>
  </div>
</a>
