<div class="cnv-info-title btn-faint-container">
  <form accept-charset="UTF-8" action="/conversations/<%= conversation.get('id') %>/retitle" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="_method" type="hidden" value="put">
      <input name="authenticity_token" type="hidden" value="<%= $('meta[name="csrf-token"]').attr('content') %>">
    </div>
    <input autocomplete="off" class="cnv-info-title-input" name="title"
    readonly="readonly" type="text" value="<%= conversation.get('title') %>">
    <input class="hidden" name="commit" type="submit" value="Retitle">
  </form>
  <div class="btn-group cnv-info-title-actions">
    <a href="#" class="btn-icon btn-faint cnv-info-title-edit" title="Edit Title"><i class="icon-pencil"></i></a>
  </div>
  <div class="btn-group cnv-info-title-save-actions hidden">
    <a href="#" class="btn-icon btn-faint cnv-info-title-save"><i class="icon-ok"></i></a>
  </div>
</div>

<div class="cnv-info-participants btn-faint-container">
  <form accept-charset="UTF-8" action="/conversations/58/updateusers" class="participants" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="_method" type="hidden" value="put">
      <input name="authenticity_token" type="hidden" value="Omt7IJe2Eyr3gmUbL4owvrZIKjKBOK9ubvykk9IR5lA=">
    </div>
    <div class="token-container participants-list">
      <ul class="tokens"><li class="user-reminder">You, and...</li>
        <li class="token participant" data-token-id="2">William Lubelski
          <span class="participant-remove">x</span>
        </li>
        <li class="token participant" data-token-id="1">Sean Kermes
          <span class="participant-remove">x</span>
        </li>
        <li class="token-input-wrap">
          <input autocomplete="off" class="participant-input token-input"
          id="users" name="users" readonly="readonly" type="text" value="">
        </li>
      </ul>
      <ul class="token-options"></ul>
    </div>
    <input class="hidden" name="commit" type="submit" value="Change Users">
  </form>
  <div class="btn-group cnv-info-participants-actions">
    <a href="#" class="btn-icon btn-faint btn-small cnv-info-participants-edit">
      <i class="icon-plus"></i>
    </a>
  </div>

  <div class="btn-group cnv-info-participants-save-actions hidden">
    <a href="#" class="btn-icon btn-small btn-faint cnv-info-participants-save">
      <i class="icon-ok"></i>
    </a>
  </div>
</div>
