<div class="new-cnv-window">
  <div class="new-cnv-title-toolbar btn-toolbar btn-faint-container">
    <div class="btn-group new-cnv-toolbar-group-right">
      <a class="disable-new-cnv btn">Cancel</a>
      <a class="send-new-cnv btn btn-primary">Send</a>
    </div>
    <input class="new-cnv-title-input" type="text" placeholder="New Conversation..."/>
  </div>
  <div class="new-cnv-participants participants-horizontal">
  </div>
  <div class="new-cnv-contents">
    <textarea name="text" class="ui-scrollable new-cnv-body"></textarea>
  </div>
</div>
