<div class="new-cnv-window">
  <div class="new-cnv-toolbar btn-toolbar clearfix">
    <div class="btn-group new-cnv-toolbar-group-left">
      <a class="disable-new-cnv btn">Cancel</a>
    </div>
    <div class="btn-group new-cnv-toolbar-group-right">
      <a class="send-new-cnv btn btn-primary">Send</a>
    </div>
    <div class='new-cnv-toolbar-text'>New Conversation</div>
  </div>
  <div class="new-cnv-title-toolbar btn-faint-container">
      <input class="new-cnv-title-input" type="text" placeholder="Title..."/>
  </div>
  <div class="new-cnv-contents">
    <textarea name="text" class="new-cnv-body"></textarea>
  </div>
</div>
