<div class="btn-group pull-left cnv-back-button-group">
  <a href="#" class="btn-icon cnv-back-button" title="Back">
    <i class="fa fa-chevron-left"></i>
  </a>
</div>

<div class="btn-group pull-right">
  <a href="#" class="btn-icon cnv-new-button" title="New Conversation">
    <i class="fa fa-edit"></i>
  </a>
</div>
