<div class='cnv-list-title'>Conversations</div>
<a href="#" class="ui-back-button" title="Back">
  <i class="fa fa-fw fa-chevron-left"></i>
</a>

<div class="btn-group pull-right">
  <a href="#" class="btn-icon cnv-new-button" title="New Conversation">
    <i class="fa fa-edit"></i>
  </a>
</div>
