.z-layer-app(){z-index:100;}
.z-layer-popover(){z-index:200;}
.z-layer-modal(){z-index:300;}



.button(){

}


.water-cooler-test-div{
  .z-layer-popover();
  position: fixed;
  top:10rem;
  left:10rem;
  height:10rem;
  width:10rem;
  border:1px solid blue;
  background-color: red;
}


.contact-popover-add-contact-button{

}
