<div class="short-form-compose clearfix">
  <form>
    <div class='btn-group enable-long-form-group'>
      <a class="enable-long-form btn-icon">
        <i class="icon-edit"></i>
      </a>
    </div>
    <div class="act-compose-short-input">
      <textarea class="write" name="text"></textarea>
    </div>
    <div class='btn-group act-short-form-send-group'>
      <a class="act-short-form-send btn-primary">Send</a>
    </div>
    <input type="submit" value="Send", class="hidden">
  </form>
</div>

<div class="long-form-compose hidden">
  <div class="long-form-window">
    <form>
      <div class="long-form-toolbar btn-toolbar clearfix">
        <div class="btn-group pull-right">
          <a class="disable-long-form btn">Cancel</a>
          <a class="send-long-form btn btn-primary">Send</a>
        </div>
        <div class="btn-group pull-left">
          <a class="long-form-title"><%= conversation.escape('title') %></a>
        </div>
      </div>
      <div class="long-form-contents">
        <div class="long-form-textarea">
          <textarea name="text" class="text-long-form write"></textarea>
          <input type="submit" value="Send" class="hidden">
        </div>
      </div>
    </form>
  </div>
</div>
