<div class='act-details-window'>
  <div class='btn-toolbar'>
    <div class='btn-group act-details-title'>Email Message Details</div>
    <div class='btn-group pull-right'>
      <span class='act-details-close btn-icon'>
        <i class='fa fa-times'></i>
      </span>
    </div>
  </div>
  <div class="act-details-text"><%= action.get('enhanced_full_text') %></div>
</div>
