<span class='popover-wrap'>


  <a href='#' class='btn-icon' id="fileupload">
    <i class="fa fa-paperclip"></i>
  </a>


  <div class='act-file-upload-popover popover opens-north-east not-hidden'>
    <div class='popover-header'>Send a File<a href='#' class='popover-close'><i class='fa fa-times'></i></a></div>

    <div class='popover-content act-file-upload-content form'>
      <label>File</label>
      <input id="fileupload" class='act-file-upload-input' type="file" name="files[]" data-url="../../../api/v0/files" multiple>

      <label>Notes</label>
      <textarea class='act-file-upload-notes'></textarea>

      <div id="progress">
        <div class="bar" style="width: 0%; height: 18px; background: green"></div>
      </div>

    </div>

  </div>

</span>

<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        },
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress .bar').css(
              'width',
              progress + '%'
          );
      }
    });
});
</script>
