<a href='#' class='btn-icon act-file-upload-button-regular'>
  <i class="fa fa-paperclip"></i>
</a>

<a href='#' class='btn-icon act-file-upload-button-uploading'>
  <i class="fa fa-cog fa-spin"></i>
</a>

<div class='act-file-upload-popover popover opens-north-east hidden'>
  <div class='popover-header'>Send a File<a href='#' class='popover-close'><i class='fa fa-times'></i></a></div>

  <div class='popover-content act-file-upload-content form'>
    <label>File</label>
    <input id="fileupload" class='act-file-upload-input' type="file" name="files[]" data-url="../../../api/v0/files" multiple>

    <label>Notes</label>
    <textarea class='act-file-upload-notes'></textarea>

    <div id="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <a href='#' class='btn-primary'>Upload File</a>

  </div>
</div>

