<div class="act-info clearfix">
  <div class="act-info-group pull-right">
    <span class="i-text act-time"><%= action.humanizedTimestamp() %></span>
  </div>
  <div class="act-info-group pull-left">
    <span class="act-sender"><%= action.get('user').escape('name') %></span>
  </div>
</div>
<div class="act-text"><%= action.escape('text') %></div>
