<div class="act-info clearfix">
  <div class="act-info-group pull-right">
    <a href="#" class="act-delete act-action btn-faint" title="Delete Message">
      <i class="icon-trash"></i>
    </a>
    <span class="i-text act-time"><%= action.humanizedTimestamp(new Date()) %></span>
  </div>
  <div class="act-info-group pull-left">
    <!-- TODO: Get user's name in here.  Pending API change. -->
    <span class="act-sender"><%= 'Someone' %></span>
  </div>
</div>
<div class="act-text"><%= action.escape('text') %></div>
