<a class="stb-link btn-icon btn-faint wc-title-editor-toggle" title="Edit Title">
  <i class="stb-icon fa fa-pencil"></i>
</a>
<div class='popover hidden'>
  <div class='header'>Title</div>
  <div class='popover-content'>
    <div class='section'>
      <div class='item'>
        <p>Name (For Everyone)</p>
      </div>
    </div>
  </div>
</div>
