<input autocomplete="off" class="act-title-input" name="title" readonly="readonly"
       type="text" value="<%= conversation ? conversation.escape('title') : '' %>">
<div class="btn-group act-title-actions">
  <a href="#" class="btn-icon btn-faint act-move-cnv" title="Move Conversation">
    <i class="fa fa-folder-open-o"></i>
  </a>
</div>
<div class="btn-group act-title-save-actions hidden">
  <a href="#" class="btn-icon-primary act-title-save">
    <i class='fa fa-check'></i>
  </a>
</div>
