<div class='btn-group ui-back-button-group act-back-button-group'>
  <a href='#' class='btn-icon btn-faint act-back-button ui-back-button'>
    <i class='fa fa-chevron-left'></i>
  </a>
</div>
<input autocomplete="off" class="act-title-input" name="title" readonly="readonly"
       type="text" value="<%= conversation ? conversation.escape('title') : '' %>">
<div class="btn-group act-title-actions">
  <a href="#" class="btn-icon btn-faint act-move-cnv" title="Move Conversation">
    <i class="fa fa-folder-open-o"></i>
  </a>
  <a href="#" class="btn-icon btn-faint act-title-edit" title="Edit Title">
    <i class="fa fa-pencil"></i>
  </a>
</div>
<div class="btn-group act-title-save-actions hidden">
  <a href="#" class="btn-icon-primary act-title-save">
    <i class='fa fa-check'></i>
  </a>
</div>
