<a href='#' class='ui-back-button'>
  <i class='fa fa-fw fa-chevron-left'></i>
</a>

<span class="act-title-input"><%= conversation ? conversation.escape('title') : '' %></span>

<div class="btn-group act-title-actions">
  <a href="#" class="btn-icon btn-faint act-move-cnv" title="Move Conversation">
    <i class="fa fa-folder-open-o"></i>
  </a>

  <span class="act-title-editor-wrap popover-wrap">
    <a class="btn-icon btn-faint act-title-edit act-title-editor-toggle" title="Edit Title"><i class="fa fa-pencil"></i></a>
    <div class='act-title-editor-popover popover hidden'>
      <div class='popover-header'>Conversation Details<a href='#' class='popover-close'><i class='fa fa-times'></i></a></div>
      <div class='popover-content form'>
        <label>Conversation Name</label>
        <input type='text' value="<%= conversation ? conversation.escape('title') : '' %>"/>
        <div class='act-convo-actions'>
          <a href="#" class="btn act-archive-cnv" title="Archive Conversation">
            <% if (conversation.get('archived')) { %>
              Unarchive Conversation
            <% } else { %>
              Archive Conversation
            <% } %>
          </a>
        </div>
      </div>
      <div class='btn-toolbar-below act-title-editor-save-actions'>
        <div class='btn-group pull-right'>
          <a href='#' class='act-title-save btn-primary'>Save</a>
        </div>
      </div>
    </div>
  </span>
</div>
