<form>
  <input autocomplete="off" class="act-title-input" name="title" readonly="readonly"
         type="text" value="<%= conversation.escape('title') %>">
  <input class="hidden" name="commit" type="submit" value="Retitle">
</form>
<div class="btn-group act-title-actions">
  <a href="#" class="btn-icon btn-faint act-move-cnv" title="Move Conversation">
    <i class="icon-folder-open-alt"></i>
  </a>
  <a href="#" class="btn-icon btn-faint act-title-edit" title="Edit Title">
    <i class="icon-pencil"></i>
  </a>
</div>
<div class="btn-group act-title-save-actions hidden">
  <a href="#" class="btn-icon btn-faint act-title-save">
    <i class="icon-ok"></i>
  </a>
</div>
