<div class='act-ut-header'>Folders</div>
<ul class='act-ut-topics-list'>
  <% topics.each(function(topic) { %>
    <li class="act-ut-topic <%= selected_ids.indexOf(topic.id) >= 0 ? 'checked' : '' %>">
      <div class="act-ut-topic-left">
        <span class="checkbox">
          <i class="icon-check"></i>
          <i class="icon-check-empty"></i>
        </span>
        <span class="act-ut-topic-title"><%= topic.escape('name') %></span>
      </div>
    </li>
  <% }); %>
</ul>
