<div class="act-ut-folder-left">
  <span class="checkbox">
    <i class="icon-check"></i>
    <i class="icon-check-empty"></i>
  </span>
  <span class="act-ut-folder-title"><%= folder.escape('name') %></span>
</div>
