<div class="act-ut-folder-left">
  <span class="checkbox">
    <i class="fa fa-square-o checkbox-icon-unchecked"></i>
    <i class="fa fa-check-square-o checkbox-icon-checked"></i>
  </span>
  <span class="act-ut-folder-title"><%= folder.escape('name') %></span>
</div>
