<!-- .act-update-topics act-ut-->
<div class='act-ut-header'>Folders</div>
<div class='act-ut-empty-error'>
  <span class='act-ut-empty-error-text'>Select at least one folder</span>
</div>
<ul class='act-ut-topics-list'>

  <li class='act-ut-topic'>
    <span class='act-ut-topic-identifier pull-right'>
      <i class='icon-star'></i>
    </span>
    <div class='act-ut-topic-left'>
      <span class='act-ut-checkbox'><i class='icon-check'></i><i class='icon-check-empty'></i></span>
      <span class='act-ut-topic-title'>My Conversations</span>
    </div>
  </li>

  <li class='act-ut-topic checked'>
    <div class='act-ut-topic-left'>
      <span class='checkbox'><i class='icon-check'></i><i class='icon-check-empty'></i></span>
      <span class='act-ut-topic-title'>Development</span>
    </div>
  </li>

  <li class='act-ut-topic'>
    <div class='act-ut-topic-left'>
      <span class='checkbox'><i class='icon-check'></i><i class='icon-check-empty'></i></span>
      <span class='act-ut-topic-title'>Human Rescources</span>
    </div>
  </li>

  <li class='act-ut-topic'>
    <span class='act-ut-topic-identifier pull-right'>
      <i class='icon-group'></i>
    </span>
    <div class='act-ut-topic-left'>
      <span class='checkbox'><i class='icon-check'></i><i class='icon-check-empty'></i></span>
      <span class='act-ut-topic-title'>Off Topic Nonsense that nobody cares about</span>
    </div>
  </li>

  <li class='act-ut-topic'>
    <div class='act-ut-topic-left'>
      <span class='checkbox'><i class='icon-check'></i><i class='icon-check-empty'></i></span>
      <span class='act-ut-topic-title'>Hello World</span>
    </div>
  </li>

</ul>
