<div class="login-form form">
  <h1>
    Water Cooler
  </h1>
  <%= form_tag sessions_path do %>
    <%= email_field_tag :email, params[:email], :placeholder => 'email' %>
    <%= password_field_tag :password, nil, :placeholder => 'password' %>
    <div class='clearfix'>
      <div class='btn-group pull-right'>
        <%= submit_tag 'Sign In', :class => 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>

<div class="attribution">
  <a href="http://www.flickr.com/photos/artnow/295491972/in/photostream/"
     target="_blank">
    background image by Artnow314
  </a>
</div>
