@import "structural/mixins.less";
@import "structural/variables.less";

@stb-background: @primary-color;

.structural-bar {
  background-color: @stb-background;
  padding-top: 0.25rem;

  .stb-text {
    color: white;
    opacity: 0.8;
  }

  .left, .right {
    display: inline-block;
  }

  .right {
    float: right;
  }
}

@news-header-height: @small-toolbar-height;
@news-width: @standard-menu-width;

.news {
  width: @news-width;

  .news-header {
    .small-light-font();
    .standard-border-bottom();
    background-color: @standard-background-color;
    padding: 0.1rem 0.25rem;

    .date {
      float: right;
    }
  }

  .news-block {
    .small-light-font();
    padding: 0.5rem;

    a {
      .unstyled-anchor(@link-font-color);
    }
  }
}
