<div class='modal-background hidden'>
  <div class='modal-window ef-window'>
    <div class='btn-toolbar'>
      <div class='btn-group pull-left modal-title'><%= folder.escape('name') %></div>
      <div class='btn-group pull-right'>
        <a href='#' class="btn-icon ef-cancel-button modal-message-dismiss">
          <i class='fa fa-times'></i>
        </a>
      </div>
    </div>
    <div class="modal-content ef-window-content inspector">
      <div class='ef-folder-details'>
        <label for="folder-name">Name</label>
        <input id="folder-name" type="text" class='ef-name-input'
               value="<%= folder.escape('name') %>">
        <% if(user.get('site_admin')) {%>
        <label for="folder-email">E-Mail Address</label>
        <input id="folder-email" type="text" class='ef-email-input'
               value="<%= folder.escape('email') %>"><span class='ef-email-domain'>@watercoolr.io</span>
         <% } %>
      </div>
      <div class='ef-folder-participants'>
        <label for="folder-participants">Participants</label>
      </div>
    </div>
    <div class='modal-content ef-deletion-content hidden'>
      <div class='ef-deletion-message'>
        <div class='ef-deletion-heading'>
          <i class='fa fa-warning-sign'></i>
          <span class='ef-deletion-heading-text'>Deleting a Folder</span>
        </div>
        <div class='ef-deletion-description'>
          <p>Deleting a folder removes the folder for all participants sharing the folder.</p>
          <p>Conversations in other folders will still be in those folders.  Conversations in only this folder will be moved to each user's default folder.  </p>
          <p>This operation cannot be undone.  </p>
        </div>
        <div class='ef-deletion-options clearfix'>
          <input type="checkbox" name='ef-deletion-confirmation' class='ef-deletion-confirmation'
            id='ef-deletion-confirmation' value='deletion'>
          <label for="ef-deletion-confirmation"> Yes, Delete this Folder</label>
          <a href="#" class='pull-right ef-deletion-cancel'>Cancel</a>
        </div>
      </div>
    </div>
    <div class='btn-toolbar-below'>
      <div class="btn-group pull-left">
        <a href='#' class="btn-icon ef-trash-button"><i class='fa fa-trash-o'></i></a>
      </div>
      <div class='btn-group pull-right'>
        <a href='#' class='btn-primary ef-save-button'>Save</a>
        <a href='#' class='btn-danger ef-delete-button hidden'>Delete Folder</a>
      </div>
    </div>
  </div>
</div>
