<div class='tpc-right'>
  <a class='btn-faint tpc-details-toggle'href='#'><i class='icon-info-sign'></i></a>
  <% if (topic.unreadConversationCount() > 0) { %>
    <span class='tpc-count'><%= topic.unreadConversationCount() %></span>
  <% } %>
</div>

<span class='tpc-label'> <%= topic.escape('name') %> </span>
