<form>
  <input type="text" name="name" value="New Folder" class="fld-new-input" autocomplete="off">
  </input>
  <input type="submit" value="Create New Folder" class="hidden fld-new-submit">
</form>
