<div class="btn-group pull-left ui-back-button-group">
  <a href="#" class="btn-icon fld-back-button ui-back-button" title="Back">
    <i class="fa fa-chevron-left"></i>
  </a>
</div>


<div class="btn-group pull-right">
  <a href="#" class="btn-icon fld-new-button" title="New Folder">
    <i class="fa fa-plus"></i>
  </a>
</div>
