<div class='cnv-list-title'>Water Cooler</div>
<a href="#" class="ui-back-button" title="Back">
  <i class="fa fa-fw fa-chevron-left"></i>
</a>

<div class="btn-group pull-right">
  <a href="#" class="btn-icon fld-new-button" title="New Folder">
    <i class="fa fa-plus"></i>
  </a>
</div>
