<div class='cnv-list-title'>Water Cooler</div>
<span class='structural-menu-wrapper pull-left'>
  <a href="#" class="btn-icon toggle-stm-button" title="Menu">
    <i class="fa fa-bars"></i>
  </a>

  <div class='structural-menu hidden'>
    <a href='#' class='link is-selected'>
      <i class='fa fa-fw fa-comment'></i>
      <span class='text'>Water Cooler</span>
    </a>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-book'></i>
      <span class='text'>People</span>
    </a>
    <% if(false) { %>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-dashboard'></i>
      <span class='text'>Admin</span>
    </a>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-flask'></i>
      <span class='text'>UX Testbed</span>
    </a>
    <% } %>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-leaf'></i>
      <span class='text'>News</span>
    </a>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-user'></i>
      <span class='text'>Profile</span>
    </a>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-search'></i>
      <span class='text'>Search</span>
    </a>
    <a href='#' class='link'>
      <i class='fa fa-fw fa-sign-out'></i>
      <span class='text'>Sign Out</span>
    </a>
    <div class='details-section'>
      <span class='username'>Bonerz MaGee</span>
      <span class='email'>bmagee@gmail.com</span>
    </div>
  </div>
</span>
<div class="btn-group pull-right">
  <a href="#" class="btn-icon fld-new-button" title="New Folder">
    <i class="fa fa-plus"></i>
  </a>
  <a href="#" class="btn-icon fld-popover-close-button" title="Close Folder List">
    <i class="fa fa-times"></i>
  </a>

</div>
