.block {
	padding-top: 10px;
}

.span4 {
	height: 400px;
}

.conversations {	
	border-left: 1px solid #ccc;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.conversation {
	border-left: 1px solid #ccc;
	padding-left: 10px;
	margin-left: 0px;
}

.conversation-item-date {
	float: right;
	font-size: 0.7em;
}

.conversation-item-body {
	color: #999;
}

.conversation-add {
	text-align: center;
}

.conversation-banner {
	margin-bottom: 20px;
}

.nav-list {
	padding-right: 50px;
	margin-bottom: 100px;
}

.message {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.messages {
	height: 350px; 
	overflow-y: scroll;
}

#message-text {
	width: 96.5%;
	height: 100px;
}

#name {
	width: 180px;
}

#send {
	float: right;
}

.italicized {
	font-style: italic;
}

.bold {
	font-weight: bold;
}