.participant{
  font-size:.8rem;
  color:#888;
  list-style: none;
  display: inline-block;

}
.participant{
  padding-left:0.25rem;
  &:first-child{
    padding-left:0;
  }
  .participant-text:after{
    content:", ";
  }
  &:last-of-type .participant-text:after{
    content:none;
  }
}

.editing .participant{
    background-color:#DEF;
    border:1px solid #ABC;
    padding-left:0.2rem;
    padding-right:0.1rem;
    margin-right:.4rem;
    display:inline-block;
    &.user-external{
      background-color: #EEE;
    }
    .participant-text:after{
      content:none;
    }
}
.editing .participant-remove{
    color:#CCC;
    position:relative;
    bottom:.05rem;
    padding:0.1rem;
}

.editing .participant-remove:hover{
    color:#888;
}


.token-input-wrap{
  display:none;
  position:relative;
}
.act-participants.editing .token-input-wrap{
  display:inline-block;
}
.participant{
  .user-icon-external{
    position:relative;
    bottom:1px;
    color:rgba(0,0,0,0.2);
    display:none;
  }
}

.editing{
  .participant.user-external {
    .user-icon-external{
      display:inline;
    }
  }
}
