<div id="column-list">
  <div class='btn-toolbar conversations-list-toolbar clearfix'>
    <div class='btn-group pull-right'>
      <a href='<%= new_conversation_path %>' class='btn-icon'><i class='icon-edit'></i></a>
    </div>
  </div>
  <div id='conversations-list'>
  </div>
</div>
