<div id="column-navigation">
  <% current_user.topics.uniq.each do |topic| %>
    <div class="topic <%= 'selected' if topic.in? @opened_conversation.topics %>">
      <a href="<%= topic_path(topic.id) %>">
        <%= topic.name %>
      </a>
    </div>
  <% end %>
</div>
