<div class="conversation-piece update-users">
  <%= piece.user.name %>
  <% if piece.added.length > 0 %>
    added <%= piece.added.collect {|u| u.name }.join(', ') %>
    to the conversation
    <% if piece.removed.length > 0 %>
      and
    <% end %>
  <% end %>
  <% if piece.removed.length > 0 %>
    removed <%= piece.removed.collect {|u| u.name }.join(', ') %>
    from the conversation
  <% end %>
</div>
