<div id="conversation-view">
  <%= render 'navigation_column' %>
  <div class="divider-vertical column-v"></div>
  <%= render 'list_column' %>
  <div class="divider-vertical column-v"></div>
  <%= render 'not_participating_column' %>
</div>
