@import "structural/variables.less";
@import "structural/mixins.less";

@conversation-title-editor-height: @standard-toolbar-height;
@conversation-participant-editor-height: @small-toolbar-height;
@compose-height: 3.7rem;

.message-pane {
  .conversation-editor {
    .button-toolbar(@conversation-title-editor-height);
    .standard-border-bottom();
    .title-font();
  }

  .conversation-participants-editor {
    .button-toolbar(@conversation-participant-editor-height);
    .standard-border-bottom();

    .conversation-participants-list {
      .small-light-font();
    }
  }

  .messages-list {
    .absolute-fill-y(@top: @conversation-title-editor-height + @conversation-participant-editor-height, @bottom: @compose-height);
    overflow-y: scroll;

    .loading-messages {
      .loading-font();
      text-align: center;
      margin-top: 6rem;
    }
  }

  .message-compose-bar {
    .button-toolbar(@compose-height);
    .standard-border-top();

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .long-form-trigger, .upload-trigger {
      display: inline-block;
      font-size: 2rem;
      vertical-align: top;
      margin-top: 0.3rem;
    }

    textarea {
      .standard-border();
      .standard-font();
      .focusable-input();
      font-size: 1rem;
      width: calc(100% - 17rem);
    }

    .button-primary {
      vertical-align: top;
      margin-top: 0.7rem;
    }
  }
}

.long-form-compose {
  background: @standard-background-color;

  textarea {
    .standard-border();
    .standard-font();
    .focusable-input();
    font-size: 1rem;
    margin: 0.5rem;
    width: 45rem;
    min-height: 15rem;
    max-height: 45rem;
  }

  .long-form-actions {
    .button-toolbar();
    .standard-border-top();
    text-align: right;
  }
}
