@import "structural/variables.less";
@import "structural/mixins.less";

@breathing-room: 0.5rem;
@unread-indicator-color: #80a0c0;
@unread-indicator-width: 2px;

.system-message() {
  .small-light-font();
  text-align: center;

  & + .message-message {
    margin-top: @breathing-room;
  }

  &:first-child {
    margin-top: @breathing-room;
  }
}

.user-message() {
  .standard-border-top();

  margin: @breathing-room;
  margin-top: 0;
  padding: @breathing-room;

  white-space: pre-line;
  word-break: break-word;

  .message-info {
    margin-bottom: @breathing-room;

    .message-sender {
      font-weight: bold;
    }

    .message-details {
      .small-light-font();
      float: right;
    }
  }

  .message-text {
    padding-bottom: 1rem;
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &.current-users-message {
    .standard-border();
    background-color: @standard-background-color;

    &+ .message-message:not(.current-users-message) {
      border: none;
    }
  }

  &:not(.current-users-message) {
    .unread-message-text:before {
      content: "";
      position: absolute;
      width: @unread-indicator-width;
      top: 0;
      bottom: 0;
      left: -@breathing-room;
      background-color: @unread-indicator-color;
    }
  }
}

.retitle-message,
.update-users-message {
  .system-message();
}

.message-message {
  .user-message();
}

.unknown-message {
  .system-message();
  color: @error-color;
}
