@import "structural/variables.less";
@import "structural/mixins.less";

@conversation-title-editor-height: @standard-toolbar-height;
@conversation-participant-editor-height: @small-toolbar-height;
@compose-height: 3.7rem;

.message-pane {
  .conversation-editor {
    .button-toolbar(@conversation-title-editor-height);
    .standard-border-bottom();
    .conversation-title-font();
  }

  .conversation-participants-editor {
    .button-toolbar(@conversation-participant-editor-height);
    .standard-border-bottom();

    .conversation-participants-list {
      .inline-list();
      .small-light-font();

      .conversation-participant:before {
        content: ", ";
      }

      .conversation-participant:first-child:before {
        content: "";
      }
    }
  }

  .messages-list {
    position: absolute;
    top: @conversation-title-editor-height + @conversation-participant-editor-height;
    bottom: @compose-height;
    left: 0;
    right: 0;

    overflow-y: scroll;
  }

  .message-compose-bar {
    .button-toolbar(@compose-height);
    .standard-border-top();

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
