@import "structural/variables.less";
@import "structural/mixins.less";

@breathing-room: 0.5rem;

.system-message() {
  .small-light-font();
  text-align: center;

  & + .message-message {
    margin-top: @breathing-room;
  }

  &:first-child {
    margin-top: @breathing-room;
  }
}

.user-message() {
  .standard-border-top();

  margin: @breathing-room;
  margin-top: 0;
  padding: @breathing-room;

  white-space: pre-line;
  word-break: break-word;

  .message-info {
    margin-bottom: @breathing-room;

    .message-sender {
      font-weight: bold;
    }

    .message-details {
      .small-light-font();
      float: right;
    }
  }

  .message-text {
    margin-bottom: 1rem;
  }
}

.retitle-message,
.update-users-message {
  .system-message();
}

.message-message {
  .user-message();
}

.unknown-message {
  .system-message();
  color: @error-color;
}
