<%= render 'shared/hacky_top_bar' %>

<div class="admin-page">
  <h3>Database Usage</h3>
  <table>
    <thead>
      <tr>
        <td>Table</td>
        <td>Row Count</td>
      </tr>
    </thead>
    <tbody>
      <% all_models.each do |model| %>
        <tr>
          <td><%= model.name %></td>
          <td><%= model.count %></td>
        </tr>
      <% end %>
      <tr>
      <tr>
        <td>Total</td>
        <td><%= all_models.collect {|m| m.count }.sum %></td>
    </tbody>
  </table>
</div>
