@import "structural/variables.less";

.conversation-title-font() {
  font-family: 'Oswald';
}

.small-light-font() {
  font-size: 0.8rem;
  color: @light-font-color;
}

.standard-border() {
  border: @standard-border;
}

.standard-border-top() {
  border-top: @standard-border;
}

.standard-border-bottom() {
  border-bottom: @standard-border;
}

@button-toolbar-height: 2.5rem;
@button-toolbar-padding: 0.3rem 0.45rem;
.button-toolbar(@height: @button-toolbar-height) {
  position: relative;
  height: @height;
  padding: @button-toolbar-padding;
  background-color: @standard-background-color;
}

.inline-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
  }
}
