@primary-color: #1e5799;
// Error color picked from http://paletton.com/#uid=73C200ks1tlhmBcmkuTucnsziiv
@error-color: #e81d22;

@standard-font-color: #444;
@light-font-color: #888;
@link-font-color: #227EDD;

@standard-background-color: #f4f4f4;
@standard-border-color: #e0e0e0;
@standard-border: 1px solid @standard-border-color;

@active-background-color: #F0F8FF;

@standard-toolbar-height: 2.5rem;
@small-toolbar-height: 1.5rem;
