@import "ui/mixins.css.less";
@import 'ui/modal.css.less';

.modal-window.ef-window{
  width:40rem;
}
.ef-window-content{
  overflow:visible;
  position: relative;
  min-height: 20rem;
  max-height: 25rem;

}

.ef-folder-details{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:15rem;
  overflow-y: auto;
  padding:0.5rem;
}

.ef-folder-participants{
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  width:15rem;
  border-left:@border-1;
  padding:0.5rem 0.5rem 0;

  .participants-removable-list{
    border-top:@border-1;
    overflow-y: auto;
    position:absolute;
    margin:0;
    bottom:0;
    right:0;
    left:0;
    top:4.5rem;
    padding:0 0.5rem;
  }
  .autocomplete-options{
    left:0.5rem;
    top:1.5rem;
  }
}

.ef-deletion-message{
  padding:0 0.5rem;
  background-color: white;
  border:1px solid #CCC;
  > div{
    padding:0.25rem;
  }

  .ef-deletion-heading{
    border-bottom:1px solid #CCC;
    color:#FA6;
  }
  .ef-deletion-description{
    p{
      font-size:0.8rem;
      color:#888;
    }
  }
  .ef-deletion-options label{
    display:inline-block;
    font-weight: bold;
    color:#444;
  }
  .ef-deletion-cancel{
    display:inline-block;
    font-size:0.8rem;
    padding:0.25rem;
    .link-blue();
  }

}
