<%= render 'shared/hacky_top_bar' %>

<% current_user.groups.each do |group| %>
  <h4><%= group.name %></h4>
  <ul>
    <% group.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>
