@import "structural/variables.less";
@import "structural/mixins.less";

@folder-actions-height: @standard-toolbar-height;

.folder-pane {
  .folder-actions {
    .button-toolbar(@folder-actions-height);
    .standard-border-bottom();
  }

  .folder-list {
    .absolute-fill-y(@top: @folder-actions-height);
    overflow-y: scroll;
  }

  .folder {
    .unstyled-anchor(@light-font-color);
    .one-line-truncated();
    border: 1px solid transparent;
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;

    &.active-folder {
      border-color: @standard-border-color;
      background-color: @active-background-color;
    }

    .folder-icon, .folder-icon-shared {
      width: 1.5rem;
      margin-right: 0.5rem;
    }

    .folder-icon-shared {
      position: relative;

      .shared-icon-plus {
        position: absolute;
        font-size: 0.5rem;
        top: 0.5rem;
        left: 0.75rem;
      }
    }

    .folder-name {
      display: inline;
    }
  }
}
