<p>Signup with Watercooler today!</p>
<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button beta-signup-submit"
    data-key="pk_test_lxLgzq8Fz4b4XKF5Jtnw1TCC"
    data-amount="2000"
    data-name="Watercooler"
    data-description="Subscription ($20.00)"
    data-image="/128x128.png">
  </script>
</form>
