<p style="text-align: center; padding-top: 10px">Signup with Watercooler today!</p>
<form action="checkout" method="POST" style="text-align: center; padding-bottom: 10px">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button beta-signup-submit"
    data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>"
    data-amount="2000"
    data-name="Watercooler"
    data-description="Subscription ($20.00)"
    data-image="/128x128.png">
  </script>
</form>
