<div class="info-page-home">

  <div class="home-main main">
  <div class='info-main-description-content jumbo-tron'>
      <h1>Collaborate Your Way Without the Hassle of Email</h1>
      <h2>Watercooler lets you organize your conversations the way you want to make communication effective.</h2>
      <ul>
        <li>Chat with only the colleagues you [need to hear], not blasting everyone with reply all</li>
        <li>See your most important unread [messages], but grouped by the topic that they [matter to]</li>
        <li>Share your topics and conversations in a sane way</li>
        <li>Organize how it makes sense to you, emergent organizations</li>
        <li>[Leave a conversation that doesn't pertain to you anymore]</li>
      </ul>
    </div>
  </div>

  <div class='info-main-description'>
    <div class='info-main-description-content'>
      <p>BETA SIGNUP BOX GOES HERE</p>
      <form class='form'>
        <input type='email' class='beta-signup-input'/><input type='submit' class='btn' value="sign up for this dang old email thing"/>
      </form>
    </div>
  </div>

  <div class='info-main-description'>
    <div class='info-main-description-content info-main-pricing'>

      <p>Pricing</p>
      <div class='pricing-table'>
        <div class="pricing-main">
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Basic</p>
              <p>Free for a single individual</p>
            </div>
          </div>
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Freelancer</p>
              <p>Adds premium features</p>
            </div>
          </div>
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Enterprise</p>
              <p>Call us</p>
              <p>Security</p>
              <p>Organizations</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>




