<div class="carousel">
  <div class="horse">
    <img alt="Geometry and forms" src="http://farm1.staticflickr.com/96/282012816_2dfb34d13b_b.jpg"></img>
    <span class="name">
      <a href="http://www.flickr.com/photos/ishmaelo/282012816/">Ishmael Orendain</a>
    </span>
  </div>
  <div class="horse">
    <img alt="In the subway" src="http://farm5.staticflickr.com/4048/4620035808_67a9b85004_b.jpg"></img>
    <span class="name">
      <a href="http://www.flickr.com/photos/patdavid/4620035808/">Pat David</a>
    </span>
  </div>
  <div class="horse">
    <img alt="Untitled" src="http://farm9.staticflickr.com/8328/8105330981_61058775d5_b.jpg"></img>
    <span class="name">
      <a href="http://www.flickr.com/photos/joestpierre/8105330981/">Joe St. Pierre</a>
    </span>
  </div>
  <div class="horse">
    <img alt="Blizzard Rams New England" src="http://farm5.staticflickr.com/4045/4428685664_b1b1348ee7_b.jpg"></img>
    <span class="name">
      <a href="http://www.flickr.com/photos/nostri-imago/4428685664/">Cliff</a>
    </span>
  </div>
  <div class="horse">
    <img alt="the earth is not a cold dead place" src="http://farm1.staticflickr.com/195/469326468_6e96944877_b.jpg"></img>
    <span class="name">
      <a href="http://www.flickr.com/photos/leecullivan/469326468/">lee</a>
    </span>
  </div>
  <div class="horse">
    <img alt="Bokeh Snow tree branches in Massachusetts blizzard" src="http://farm3.staticflickr.com/2066/2110766472_e35920a500_b.jpg"></img>
    <span class="name">
      <a href="http://www.flickr.com/photos/pinksherbet/2110766472/">D. Sharon Pruitt</a>
    </span>
  </div>
  <div class="doorframe">
    <div class="door">
    </div>
  </div>
</div>
