<div class="info-page-home">

  <div class="home-main main">
    <div class='info-main-description-content jumbo-tron'>
      <h1>Collaborate Your Way</h1>
      <h2>Organize your conversations the way you want.  Get your team communicating sensibly and hassle-free.</h2>
      <form class='beta-signup-form'>
        <p>Water Cooler is currently in private beta.  We'll send you an invite as soon we can. </p>
        <div class='sign-up-inputs'>
          <div class='input-wrapper'>
            <input type='email' class='beta-signup-input' placeholder='Email Address' tabindex=1/>
          </div>
          <input type='submit' class='beta-signup-submit' value="Sign me up" tabindex=2/>
        </div>
      </form>
    </div>
  </div>

  <div class="info-main-description info-main-description-explain">
    <div class="info-main-description-content">
      <ul>
        <li>
          <p>
            Chat with only the colleagues you need to, don't blast
            everyone with reply all.  Water Cooler lets you have a conversation
            with just the people who need to be in it, but still keep everyone
            else in the loop.  Gone are the days of your inbox filling up with
            everyone else's business.
          </p>
          <img src="http://www.placehold.it/300x300" />
        </li>
        <li>
          <img src="http://www.placehold.it/300x300" />
          <p>
            Group your conversations however they matter to you.  Organize
            by team, by topic, by client or by whatever lets you get your work
            done.  Heck, put your conversations in more than one folder if
            that's your thing.
          </p>
        </li>
        <li>
          <p>
            None of us work in a vacuum. Share Water Cooler folders with your
            team to keep everyone on the same page.  Everyone can read every
            conversation in a shared folder, even if they aren't talking in
            it.  Come back from vacation and skim the record of what happened,
            or keep up to date on what your team is doing, all without a deluge
            of unread messages in your inbox.
          </p>
          <img src="http://www.placehold.it/300x300" />
        </li>
        <li>
          <img src="http://www.placehold.it/300x300" />
          <p>
            Organize how it makes sense to you, emergent organizations
            [How is this different than the second one?]
          </p>
        </li>
        <li>
          <p>
            Never get stuck on an endless reply-all thread again.  You can
            remove yourself from any Water Cooler conversation without
            disrupting anyone else's chatter.  Take yourself off as soon as it's
            not relevant to you, and you never have to see it again.  Aaah,
            bliss.
          </p>
          <img src="http://www.placehold.it/300x300" />
        </li>
      </ul>

      <form class='beta-signup-form'>
        <p>Water Cooler is currently in private beta.  We'll send you an invite as soon we can. </p>
        <div class='sign-up-inputs'>
          <div class='input-wrapper'>
            <input type='email' class='beta-signup-input' placeholder='Email Address' tabindex=1/>
          </div>
          <input type='submit' class='beta-signup-submit' value="Sign me up" tabindex=2/>
        </div>
      </form>
    </div>
  </div>

  <div class='info-main-description'>
    <div class='info-main-description-content info-main-pricing'>

      <h1>Pricing</h1>
      <div class='pricing-table'>
        <div class="pricing-main">
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Basic</p>
              <p>Free for a single individual</p>
              <p>Unlimited conversations</p>
              <p>Unlimited contacts</p>
              <p>Up to X folders</p>
            </div>
          </div>
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Freelancer</p>
              <p>$4/mo</p>
              <p>Archive old conversations</p>
              <p>Leave conversations[?]</p>
              <p>Create shared folders</p>
            </div>
          </div>
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Enterprise</p>
              <p>Call us</p>
              <p>Security</p>
              <p>Organizations</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>




