<div class="info-page-home">

  <div class="home-main main">
  <div class='info-main-description-content jumbo-tron'>
      <p>Collaborate your way without the hassle of email</p>
      <ul>
        <li>Chat with only the colleagues you [need to hear], not blasting everyone with reply all</li>
        <li>See your most important unread [messages], but grouped by the topic that they [matter to]</li>
        <li>Share your topics and conversations in a sane way</li>
        <li>Organize how it makes sense to you, emergent organizations</li>
      </ul>
    </div>
  </div>

  <div class='info-main-description'>
    <div class='info-main-description-content'>
      <p>BETA SIGNUP BOX GOES HERE</p>
    </div>
  </div>

  <div class='info-main-description info-main-pricing'>
    <div class='info-main-description-content'>

      <p>Pricing</p>

      <div class="pricing-main">
        <div class="pricing-block">
          <p class="pricing-block-title">Basic</p>
          <p>Free for a single individual</p>
        </div>
        <div class="pricing-block">
          <p class="pricing-block-title">Freelancer</p>
          <p>Adds premium features</p>
        </div>
        <div class="pricing-block">
          <p class="pricing-block-title">Enterprise</p>
          <p>Call us</p>
          <p>Security</p>
          <p>Organizations</p>
        </div>
      </div>

    </div>
  </div>

</div>




