<div class='page-wrapper tour-page'>

<%=render "shared/header" %>

<div class="main">

<ul class='sub-nav'>
  <li class='sub-nav-item is-selected'><a href='#'>Less Stressful</a></li>
  <li class='sub-nav-item'><a href='#'>Web Native</a></li>
  <li class='sub-nav-item'><a href='#'>Built For Teams</a></li>
  <li class='sub-nav-item'><a href='#'>Flexible Privacy</a></li>
</ul>

<div class='copy'>


<div class='tab-1'>

  <div class='section'>

<p>Communicating at work is tough.  That's why you get payed the big bucks.   Open ended creative discussions can be especially tough.   Sometimes a discussion around the water cooler is a lot more effective than creating tickets, scheduling phone calls or writing emails.

Water Cooler is designed to make text based communications as smooth as a genuine and informal conversations in the hallway.

Water Cooler looks a lot like email.  It might even feel a lot like email. But under the hood it definitely doesn’t work like email.

We think a lot of the stress of email comes from having to "get it right" (include and CC the right people, useful subject line, etc) at the beginning, or else it becomes almost impossible to fix later on.

So Water Cooler is designed to prevent a lot of the Gotcha’s that people run into in email.</p>

</div>

<div class='section'>

<h4>The Reply-All Fantasy</h4>

<p>When managing a conversations with three or more people, everyone has to always remember to hit reply-all and not just reply, or some people are going to be out of the loop.   Heaven forbid you want to include a new person on the thread and bring them up to speed.</p>

<p>Water Cooler prevents this from ever being a problem.  Instead of shuffling messages around and letting each person’s email client stitch the threads back together, we made the threads into first class citizens.  Add a person to thread, and they see the thread like they were always there.</p>

</div>

<div class='section'>

<h4>Once it’s sent, it’s sent forever</h4>

<p>Once you send an email, it’s out there.   You can send a follow up, or a clarification, or a correction, but that message is out there in everyone’s inboxes.   If months later you go looking for old content, it’s pretty easy to find an incorrect message and not the correction.</p>

<p>In Water Cooler you can delete and move messages after they’ve been sent (under the hood it still keeps a record of everything that happened) so that the thread you and your coworkers are looking at has exactly what you need - no more (that five-hour argument over how to pluralize “Surgeon General”) and no less (the email with *all the website’s images* that James only sent to Sarah).</p>

</div>

<div class='section'>

<h4>Those Pesky Subject Lines</h4>

<p>How many times have you had super critical discussions on a thread with a subject line of   “Fwd: Re: Re:                           “   ?</p>

<p>Water Cooler lets you retitle a conversation as it ages.  What starts out as “Crazy Idea” might become “New Customer Acquisition Model” as the idea gets more flushed out... or it might stay “Crazy Idea” and get archived because it was actually just a silly idea.</p>

<p>You’re not going to know what to call everything when you start the thread, and Water Cooler is cool with that.  We get you.</p>

</div>

<div class='section'>

<h4>“Keep me in the loop”</h4>

<p>It’s either “Why wasn’t I consulted!?!?” or “Why are you bringing me unfinished work?!?!?”  Managers.  Can’t work with ‘em.  Don’t have a job without ‘em.  *amirite*? </p>

<p>With Water Cooler, we wanted to rethink how you keep people in the loop.  We took the age old organization system of folders and decided to throw in some magic.  </p>

<p>Everyone has their own folders for organizing conversations.  But folders can also be shared with multiple people.   This has some interesting side effects.  If Red Team is four grunts and a squad leader, then then all five of them might share a folder called “Red Team”. </p>

<p>...</p>

</div>


</div>

<div class='tab-2 hidden'></div>

<div class='tab-3 hidden'></div>

<div class='tab-4 hidden'></div>


</div>

</div>

<%=render "shared/footer" %>

</div>
