<div class="btn-toolbar act-title btn-faint-container">
  <input autocomplete="off" class="act-title-input" name="title" readonly="readonly" type="text" value="Lunch:  Pizza from Tommy's">
  <div class="btn-group act-title-actions">
    <a href="#" class="btn-icon btn-faint act-move-cnv" title="Move Conversation">
      <i class="icon-folder-open-alt"></i>
    </a>
    <a href="#" class="btn-icon btn-faint act-title-edit" title="Edit Title">
      <i class="icon-pencil"></i>
    </a>
  </div>
  <div class="btn-group act-title-save-actions hidden">
    <a href="#" class="btn-icon btn-faint act-title-save">
      <i class="icon-ok"></i>
    </a>
  </div>
  <div class="act-ut hidden"><div class="act-ut-header">Folders</div>
  <ul class="act-ut-topics-list">
    <div class="act-ut-topic checked">
      <div class="act-ut-topic-left">
        <span class="checkbox">
          <i class="icon-check"></i>
          <i class="icon-check-empty"></i>
        </span>
          <span class="act-ut-topic-title">My Conversations</span>
        </div>
      </div>
      <div class="act-ut-topic checked">
        <div class="act-ut-topic-left">
          <span class="checkbox">
            <i class="icon-check"></i>
            <i class="icon-check-empty"></i>
          </span>
          <span class="act-ut-topic-title">Shared Topic #2</span>
        </div>
      </div>
    </ul>
  </div>
</div>



<div class="act-participants btn-faint-container">
  <ul class="tokens"><span class="token participant">
    <span class="participant-text">Abigail Adams </span>
</span><span class="token participant"><span class="participant-text">Bob Burns</span>
</span><span class="token participant"><span class="participant-text">Carly Carson</span>
</span>
</ul><div class="btn-group act-participants-actions">
  <a href="#" class="btn-icon btn-faint btn-small act-participants-edit">
    <i class="icon-plus"></i>
  </a>
</div>

<div class="btn-group act-participants-save-actions hidden">
  <a href="#" class="btn-icon btn-small btn-faint act-participants-save">
    <i class="icon-ok"></i>
  </a>
</div>
</div>




<div class="act-list">
  <div class="act btn-faint-container act-retitle act-my-message">Abigail Adams  titled the conversation "Lunch"</div>

  <div class="act btn-faint-container act-update-users act-my-message">Abigail Adams added Abigail Adams , Bob Burns to the conversation</div>

  <div class="act btn-faint-container act-message act-my-message">
    <div class="act-info clearfix">
      <div class="act-info-group pull-right">
        <span class="i-text act-time">Sep 2</span>
      </div>
      <div class="act-info-group pull-left">
        <span class="act-sender">Abigail Adams </span>
      </div>
    </div>
    <div class="act-text">What are you thinking for lunch today? </div>
  </div>

  <div class="act btn-faint-container act-message">
    <div class="act-info clearfix">
      <div class="act-info-group pull-right">
        <span class="i-text act-time">Sep 2</span>
      </div>
      <div class="act-info-group pull-left">
        <span class="act-sender">Bob Burns</span>
      </div>
    </div>
    <div class="act-text">Tommy's for pizza? </div>
  </div>

<div class="act btn-faint-container act-message">
  <div class="act-info clearfix">
    <div class="act-info-group pull-right">
      <span class="i-text act-time">Sep 2</span>
    </div>
    <div class="act-info-group pull-left">
      <span class="act-sender">Bob Burns</span>
    </div>
  </div>
  <div class="act-text">Carly probably want's in</div>
</div>

<div class="act btn-faint-container act-update-users">Bob Burns added Carly Carson to the conversation </div>

<div class="act btn-faint-container act-message act-my-message">
  <div class="act-info clearfix">
    <div class="act-info-group pull-right">
    <span class="i-text act-time">Sep 2</span>
    </div>
    <div class="act-info-group pull-left">
      <span class="act-sender">Abigail Adams </span>
    </div>
  </div>
  <div class="act-text">Pepperoni or sausage? </div>
</div>

<div class="act btn-faint-container act-message">
  <div class="act-info clearfix">
    <div class="act-info-group pull-right">
      <span class="i-text act-time">Sep 2</span>
    </div>
    <div class="act-info-group pull-left">
      <span class="act-sender">Bob Burns</span>
    </div>
  </div>
  <div class="act-text">Sausage all the way!</div>
</div>

<div class="act btn-faint-container act-retitle act-my-message">Abigail Adams  titled the conversation "Lunch:  Pizza from Tommy's"
</div>

<div class="act btn-faint-container act-message act-my-message">
  <div class="act-info clearfix">
    <div class="act-info-group pull-right">
      <span class="i-text act-time">Sep 2</span>
    </div>
    <div class="act-info-group pull-left">
      <span class="act-sender">Abigail Adams </span>
    </div>
  </div>
  <div class="act-text">Deal.  Ordering now.  </div>
</div>

</div>

<div class="act-compose">
  <div class="short-form-compose clearfix">
    <div class="btn-group enable-long-form-group">
      <a class="enable-long-form btn-icon">
        <i class="icon-edit"></i>
      </a>
    </div>
    <div class="act-compose-short-input">
      <textarea class="write" name="text"></textarea>
    </div>
    <div class="btn-group act-short-form-send-group">
      <a class="act-short-form-send btn-primary">Send</a>
    </div>
</div>


<div class="long-form-compose hidden">
  <div class="long-form-window">
      <div class="long-form-toolbar btn-toolbar clearfix">
        <div class="btn-group pull-right">
          <a class="disable-long-form btn">Cancel</a>
          <a class="send-long-form btn btn-primary">Send</a>
        </div>
        <div class="btn-group pull-left">
          <a class="long-form-title">Shadowrun Returns</a>
        </div>
      </div>
      <div class="long-form-contents">
        <div class="long-form-textarea">
          <textarea name="text" class="text-long-form write"></textarea>
        </div>
      </div>
  </div>
</div>



</div>

