<div class='ui-scrollable info-page-wrapper'>
  <div class='info-page info-about ui-scrollable-contents'>

    <%=render "shared/header" %>

    <div class="main">
      <div class='copy'>

        <div class='lead-in'>
          <span>About Water Cooler</span>
        </div>

        <div class='section'>
          <p>Like plenty of other software projects, Water Cooler is built by a bunch of uptight nerds who complain too much about other software.</p>
        </div>

        <div class='section'>
          <p>If you'd like to help test Water Cooler, you can <a href="https://docs.google.com/forms/d/15BSfBgGhpcOQv4P7zybUC73ts6q7nWeaJ855yREDnSk/viewform">Sign Up</a> and we'll let you know when we're ready.</p>
        </div>

        <div class='section'>
          <p>You can read the esoteric things we write at <a href="http://structur.al">http://structur.al</a> and you can contact us at <a href="mailto:strucutral@structur.al">strucutral@structur.al</a></p>
        </div>

      </div>
    </div>

  </div>
  <%=render "shared/footer" %>
</div>
