<div class='info-page info-beta'>

  <%=render "shared/header" %>

  <div class="main">
    <div class='copy'>
      If you'd like to help test Water Cooler, you can <a href="https://docs.google.com/forms/d/15BSfBgGhpcOQv4P7zybUC73ts6q7nWeaJ855yREDnSk/viewform">Sign Up</a> and we'll let you know when we're ready.
    </div>
  </div>

</div>

<%=render "shared/footer" %>
