<div class='info-page tour-page ui-scrollable'>


  <%=render "shared/header" %>

  <div class="main">
    <div class='copy'>
      <div class='lead-in'>
        <span>A tour of Water Cooler</span>
      </div>

      <div class='section'>

        <h4>Chat with coworkers, classmates and freinds.  </h4>
        <a href="<%= asset_path 'help/chat-basic-1.png' %>">
          <%= image_tag("help/chat-basic-1.png", :alt => "Water Cooler", :class => "screenshot") %>
        </a>

        <p>Water Cooler is built to make group discussions work better.   </p>

      </div>

      <div class='divider'></div>

      <div class='section'>

        <h4>Manage big conversations</h4>

        <p>Chat apps work for quick discussions, but sometimes you need to have complicated, ongoing conversations with multiple people.  </p>

        <p>Email works for a while, until someone forgets to hit reply-all, or suddenly changes the topic.   On a long enough timelime, every email thread ends up an incomprehnsible mess.  </p>

        <p>Conversations in Water Cooler are simple and smooth, but they can go on as long as they have to.  Big thoughts that take multiple paragrpahs work just as well as one liners.  </p>

      </div>

      <div class='divider'></div>

      <div class='section'>

        <h4>Organize multiple conversations</h4>


        <p>One conversation can work </p>

      </div>

    </div>

  </div>

</div>

<%=render "shared/footer" %>
