<div class='info-page page-wrapper tour-page ui-scrollable'>


  <%=render "shared/header" %>

  <div class="main">
    <div class='copy'>
      <div class='lead-in'>
        <span>A tour of Water Cooler</span>
      </div>

      <div class='section'>

        <h4>Chat with coworkers, classmates and freinds.  </h4>

        <p>Water Cooler is built to make group discussions work better.   </p>

      </div>

      <div class='divider'></div>

      <div class='section'>

        <h4>Manage big conversations</h4>

        <p>Chat apps work for quick discussions, but sometimes you need to have complicated, ongoing conversations with multiple people.  </p>

        <p>Email works for a while, until someone forgets to hit reply-all, or suddenly changes the topic.   On a long enough timelime, every email thread ends up an incomprehnsible mess.  </p>

        <p>Conversations in Water Cooler are simple and smooth, but they can go on as long as they have to.  Big thoughts that take multiple paragrpahs work just as well as one liners.  </p>

      </div>

      <div class='divider'></div>

      <div class='section'>

        <h4>Starting a Conversation</h4>


        <p>A single conversation can be used almost indefintly, but at some point you'll realise you're having two conversations in the same thread.  At this point, you should create a conversation thread. </p>

      </div>
      <div class='divider'></div>
      <div class='section'>

        <h4>Escape the one large hopelessly unmanageable inbox</h4>

        <p>Water Cooler revamps how you keep people in the loop. We took the age-old organization system of folders and decided to throw in some magic. Everyone has their own folders for organizing conversations, but folders can also be shared with multiple people. Remember distribution lists? Remember trying to “clean out” your inbox? Remember reading email, never being sure whether it’s going to be an important one or not? </p>

      </div>
      <div class='divider'></div>
      <div class='section'>

        <h4>Fix mistakes and misinformation</h4>

        <p>Once a regular email has been sent with an error, it’s out there forever. You can send a follow up, or a clarification, or a correction, but those can get missed while the original email lives on—and if you later go looking for it, it’s pretty easy to find the incorrect message and not the correction. </p>

        <p>In Water Cooler you can delete and move messages after they’ve been sent so that the thread you and your coworkers are looking at has exactly what you need. And does Water Cooler keep track of what’s been deleted or moved with access to that deleted or moved content? Why, of course it does.</p>

      </div>

    </div>

  </div>

  <%=render "shared/footer" %>

</div>
