<div class='page-wrapper demo-page marketing'>
  <%=render "shared/header" %>
  <div class="main">
    <div class='container'>
      <div class='explanation'>
        <h4>Have a Quick Conversation</h4>

        <p>Shoot your team a quick message about small things.  </p>

      </div>
      <div class='demo-box clearfix'>
        <%=render "marketing/quick" %>
      </div>
    </div>
  </div>
  <%=render "shared/footer" %>
</div>

<%= content_for :javascript do -%>


$(document).ready(function(){
  $('.act-list').scrollTop(1000);
});
$('.demo-box').on('scroll onscroll', function(e){
  e.stopPropagation();
});

<% end %>
