@import "structural/variables.less";
@import "structural/mixins.less";

.autocomplete {
  position: relative;
}

.autocomplete-input {
  .focusable-input();
}

.autocomplete-options {
  .standard-border();
  background-color: @standard-background-color;
  position: absolute;
  left: 0.5rem;
  overflow-y: scroll;
  max-height: 10rem;
  width: 13rem;

  &.autocomplete-options-empty {
    height: 0;
  }

  .option {
    .standard-border-bottom();
    padding: 0.5rem;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: @standard-border-color;
    }
  }
}
