@import 'mixins.css.less';

.tour-page, {

  .main{
    padding:0;
    @media(min-width:@bp-1){
      padding:1.0rem;
    }
  }


  .tour-caption{
    font-size:1.0rem;
    padding:0.5rem 0.5rem;
    text-align: center;
    @media(min-width:@bp-1){
      font-size: 1.25rem;
      padding:1.0rem 2.0rem;
    }
    &:after{
      content:" ";
      display:block;
      height:1px;
      background:#EEE;
      margin-top:1.0rem;
      background:linear-gradient(to left, white 0%, #CCC 50%, white 100%);
    }
  }
}



.info-about{
  .main{
    padding:0;
    @media(min-width:@bp-1){
      padding:1.0rem;
    }
  }
}
