@import "ui/mixins.less";

.rails-page {
  .pw-reset-container{
    padding:1.0rem;
    @media(min-width:@bp-1){
      width:30rem;
      margin:0 auto;
      padding: 3.0rem;
    }

    .password-reset-dialog{
      border:@border-2;
      @media(min-width:@bp-1){
        border:@border-1;
      }
    }
  }
}
