@import "ui/mixins.css.less";

.form {
  padding:0.5rem;

  input, label{
    display: block;
  }

  label {
    padding-left: .25em;
    font-size:0.75rem;
    color:#888;
    & + label{
      margin-top:0.5rem;
    }
  }
  input[type="checkbox"]{
    display:inline-block;
    & + label{
      display:inline-block;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea{
    font-size: 1rem;
    border: @border-1;
    color: @textColor;
    border-radius: 0;
    .body-font;
    outline:none;
    width: 100%;
    padding: .5em;
    background-color: white;
    margin-bottom: 10px;
    -webkit-appearance: none;
    &:focus {
      border-color:#BCD;
      box-shadow: inset 0 0 4px rgba(0,128,255,0.2);
    }
    &[disabled='disabled'],
    &[disabeld]{
      color:#888;
    }
  }
}
.form-btn{
  font-size:1.0rem;
  padding:0.25rem 0.6rem;
  border: 1px solid #CCC;
  margin:0 .25rem;
  text-align: center;
  font-weight: normal;
  background-color:#F0F0F0;
  color:#444;
  cursor:pointer;
  .button-shadow(0.2);
  .user-select(none);
  &:hover,
  &.hover{
     background-color:#D8E8F8;
   }
  &:active,
  &:focus,
  &.actve{
    box-shadow: none;
    position: relative;
    top:1px;
  }
}

.form-btn.form-btn-primary{
  border-color: #AAA;
  background-color:#7AD;
  color:white;
  .button-shadow(0.4);
  &:hover,
  &.hover{
    background-color:#8BE;
  }
}

.form-link{
  .link-blue();
}
