@import "ui/mixins.css.less";


.admin-page {
  background-color: white;
  a{
    .link-blue();
  }
  td{
    @media(max-width:@bp-1){
      .ellipsis();
    }
    overflow-x:hidden;
    text-overflow:ellipsis;

  }
  .admin-table, .admin-links{
    border:@border-1;
    margin:1rem;
    @media( min-width:@bp-1){
      max-width:30rem;
      margin: 2rem auto;
    }
  }

  .admin-table.is-full-width{
    max-width: 95%;
    @media(min-width:@bp-2){
      max-width:@bp-2 - 1.0rem;
    }
  }

  .full-page();

  table {
    .stripey-table;
    width:100%;
  }
}

