@import "structural/variables.less";
@import "structural/mixins.less";

.contact-lists-pane {
  .contact-lists-toolbar {
    .button-toolbar();
    .standard-border-bottom();
  }

  .contact-list {
    .unstyled-anchor(@light-font-color);
    .one-line-truncated();
    border: 1px solid transparent;
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;

    .contact-list-info {
      .small-light-font();
      float: right;
      margin-top: 0.25rem;
    }

    &.active-contact-list {
      border-color: @standard-border-color;
      background-color: @active-background-color;
    }
  }
}

.contacts-toolbar {
  .button-toolbar();
  .standard-border-bottom();
  text-align: center;

  .contact-list-title {
    .title-font();
  }
}

.contacts-pane {
  .contacts-headers {
    .button-toolbar(@small-toolbar-height);
    .standard-border-bottom();
    .small-light-font();

    .header {
      display: inline-block;
      width: 50%;
    }
  }

  .contacts {
    .absolute-fill-y(@top: @button-toolbar-height + @small-toolbar-height, @bottom: 0);
    overflow-y: scroll;

    .contact {
      .standard-border-bottom();
      padding: 0.5rem;

      &:hover {
        background-color: @active-background-color;
      }

      .email {
        .small-light-font();
      }

      .name, .email {
        display: inline-block;
        width: 50%;
      }
    }
  }
}
