@import "structural/variables.less";
@import "structural/mixins.less";

.contact-lists-pane {
  .contact-lists-toolbar {
    .button-toolbar();
    .standard-border-bottom();
  }

  .contact-list {
    .unstyled-anchor(@light-font-color);
    .one-line-truncated();
    border: 1px solid transparent;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;

    .contact-list-info {
      .small-light-font();
      float: right;
      margin-top: 0.25rem;
    }

    &.active-contact-list {
      border-color: @standard-border-color;
      background-color: @active-background-color;
    }
  }
}

.contacts-toolbar {
  .button-toolbar();
  .standard-border-bottom();
}
