<a class="stb-link wc-news-toggle" title="Water Cooler News">
  <i class="stb-icon fa fa-fw fa-ambulance"></i>
</a>
<div class='wc-news-popover popover opens-south-west hidden'>
  <div class='popover-header'>Water Cooler News<a href='#' class='popover-close'><i class='fa fa-times'></i></a></div>
  <div class='popover-content'>
    <div class="divider">
      <span class="right">January</span>
      <span class="left" title="Better user input control">Better user input control</span>
    </div>
    <div class="section">
      <div class="item">
        <p>Now with 100% fewer tiny checkmarks.  We rewrote the form to add
           people to conversations and folders so that you never have to
           forget to hit that tiny checkmark again.  Your changes are saved as
           soon as you click (or tab) away.</p>
      </div>
    </div>
    <div class="divider">
      <span class="right">January</span>
      <span class="left" title="Enhancing links in Messages">Enhancing links in Messages<span>
    </div>
    <div class="section">
      <div class="item">
        <p>Your image links will now show as images in messages! <a class="act-imageLink" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/8/87/Symbol_thumbs_up.svg)" href="http://upload.wikimedia.org/wikipedia/commons/8/87/Symbol_thumbs_up.svg" target="_blank"></a></p>
      </div>
    </div>
    <div class="divider">
      <span class="right">November</span>
      <span class="left" title="Archive Conversations">Archive Conversations<span>
    </div>
    <div class="section">
      <div class="item">
        <p>Your conversation lists have been split into two - the top for active
           conversations and the bottom for archived ones.  Archive a conversation
           with the new archive button
           (<i class="fa fa-archive"></i>)
           and collapse a section by clicking on
           the header.</p>
      </div>
    </div>
  </div>
</div>
