<a class="stb-link wc-news-toggle" title="Water Cooler News">
  <i class="stb-icon fa fa-fw fa-leaf"></i>
</a>
<div class='wc-news-popover popover hidden'>
  <div class='popover-header'>Water Cooler News<a href='#' class='popover-close'><i class='fa fa-times'></i></a></div>
  <div class='popover-content'>
    <div class="divider">
      <span class="right">November"</span>
      <span class="left" title="Archive Conversations">Archive Conversations<span>
    </div>
    <div class="section">
      <div class="item">
        <p>Your conversation lists have been split into two - the top for active
           conversations and the bottom for archived ones.  Archive a conversation
           with the new archive button
           (<i class="fa fa-archive"></i>)
           and collapse a section by clicking on
           the header.</p>
      </div>
    </div>
    <div class='divider'>
      <span class='right'>October</span>
      <span class='left' title="Folders">Folders</span>
    </div>
    <div class='section'>
      <div class='item'>
        <p>Folders are now working.  You can create, delete and share folders with other Water Cooler Users.</p>
      </div>
    </div>
    <div class='divider'>
      <span class='right'>September</span>
      <span class='left' title="Chrome Notifier">Chrome Notifier</span>
    </div>
    <div class='section'>
      <div class='item'>
        <p><a href="https://chrome.google.com/webstore/detail/water-cooler/iojmggbopjbgmkhceojpkdlkjndpfpbb" target="_blank">Chrome Notifier</a></p>
        <p>Mr. Ben Jones built a barebones chrome extension that puts your unread conversation count in your chrome toolbar.</p>
      </div>
    </div>
  </div>
</div>
