<a class="stb-link wc-news-toggle" title="Water Cooler News">
  <i class="stb-icon fa fa-fw fa-pied-piper-alt"></i>
</a>
<div class='wc-news-popover popover opens-south-west hidden'>
  <div class='popover-header'>Water Cooler News<a href='#' class='popover-close'><i class='fa fa-times'></i></a></div>
  <div class='popover-content'>
    <div class="divider">
      <span class="right">July</span>
      <span class="left" title="File Upload">Shared Contact Lists</span>
    </div>
    <div class="section">
      <div class="item">
        <p>You can now share contact lists with your friends!</p>
      </div>
    </div>
    <div class="divider">
      <span class="right">April</span>
      <span class="left" title="File Upload">File Upload</span>
    </div>
    <div class="section">
      <div class="item">
        <p>You can now upload files, which will be stored on the cloud! Use the paperclip to attach
        files to a conversation. Note that anyone with the link to a file will be able to see it.</p>
      </div>
    </div>
    <div class="divider">
      <span class="right">March</span>
      <span class="left" title="Changes to unread">Changes to unread</span>
    </div>
    <div class="section">
      <div class="item">
        <p>Contiguous messages by the same person now get collapsed into a single
           message.  Unread messages are marked with a blue border - clicking on
           an unread message marks it (and messages before it) read.</p>
      </div>
    </div>
    <div class="divider">
      <span class="right">February</span>
      <span class="left" title="Search">Search</span>
    </div>
    <div class="section">
      <div class="item">
        <p>Search your messages from the magnifying class icon just to the right
           over there.  Aww yiss.</p>
      </div>
    </div>
    <div class="divider">
      <span class="right">January</span>
      <span class="left" title="Better user input control">Better user input control</span>
    </div>
    <div class="section">
      <div class="item">
        <p>Now with 100% fewer tiny checkmarks.  We rewrote the form to add
           people to conversations and folders so that you never have to
           forget to hit that tiny checkmark again.  Your changes are saved as
           soon as you click (or tab) away.</p>
      </div>
    </div>
  </div>
</div>
