<div class='toast'>
  <div class="toast-message">
    <%= message %>
  </div>
  <% if (promptRefresh) { %>
    <div class="toast-actions clearfix">
      <a href="#" class="btn-danger toast-refresh-btn">Refresh</a>
    </div>
  <% } %>
  <% if (promptClose) { %>
    <div class="toast-actions clearfix">
      <a href="#" class="btn-danger toast-close-btn">Close</a>
    </div>
  <% } %>
</div>
