<div class='toast'>
  <div class="toast-message">
    <%= message %>
  </div>
  <% if (promptRefresh) { %>
    <div class="toast-actions clearfix">
      <a href="#" class="btn-danger">Refresh</a>
    </div>
  <% } %>
</div>
