<% if (!autoDismiss && allowDismiss) { %>
  <span class="toast-close btn-icon">
    <i class="fa fa-times"></i>
  </span>
<% } %>
<div class="toast-message">
  <%= message %>
</div>
<% if (promptRefresh) { %>
  <div class="toast-actions clearfix">
    <a href="#" class="btn-danger pull-right">Refresh</a>
  </div>
<% } %>
