<div class='contact-popover hidden'>
  <div class='contact-popover-name'>Sean "Mad as Hell" Kermes</div>
  <div class='contact-popover-email'>sean.kermes@structur.al</div>
  <button class='contact-popover-add-contact-button'>Add Contact</button>
</div>
