@import "ui/mixins.less";

.ef-window-content{
  .act-participants{
     max-height:10rem !important;
     margin-bottom: 0.75rem;

  }
  .ef-email-input{
    width:10rem !important;
    display: inline-block !important;
    text-align: right;
  }
  .ef-email-domain{
    margin-left:0.25rem;
    color:#888;
  }
}

