@import "structural/variables.less";
@import "structural/mixins.less";

@modal-top-offset: 5rem;

.modal-hidden {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @standard-shadow-color;
  text-align: center;
}

.modal {
  display: inline-block;
  margin: @modal-top-offset auto 0 auto;
  text-align: left;
  background-color: white;
  .standard-border();

  .modal-title-bar {
    .button-toolbar();
    .standard-border-bottom();
    .title-font();

    a {
      float: right;
    }
  }
}
