@import "structural/variables.less";
@import "structural/mixins.less";

.modal-hidden {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @standard-shadow-color;
  text-align: center;
}

.modal {
  display: inline-block;
  margin: 5rem auto 0 auto;
  background-color: white;
}
