@import "structural/variables.less";
@import "structural/mixins.less";

@modal-top-offset: 5rem;

.modal-hidden {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @standard-shadow-color;
  text-align: center;
}

.modal {
  display: inline-block;
  margin: @modal-top-offset auto 0 auto;
  text-align: left;
  background-color: white;
  .standard-border();

  .modal-title-bar {
    .button-toolbar();
    .standard-border-bottom();
    .title-font();

    a {
      float: right;
    }
  }
}

.menu-hidden {
  display: none;
}

.menu-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@menu-yoffset: 0.75rem;
@menu-xoffset: 0.5rem;
@pointer-size: 0.5rem;
@pointer-size-in-px: 9px;
@pointer-edge-offset: 0.5rem;
@border-width: 1px;

@menu-title-background-color: #DBDBDB;
@menu-border-color: #BBBBBB;

.menu {
  border: 1px solid @menu-border-color;
  position: absolute;
  background-color: white;
  box-shadow: 0 .5rem 1rem 0 @standard-shadow-color;

  .menu-title {
    .title-font();
    background-color: @menu-title-background-color;
    border-bottom: 1px solid @menu-border-color;
    text-align: center;
  }

  .menu-bumper {
    .standard-border-top();
    background-color: @standard-background-color;
    height: 0.5rem;
  }

  &.left-up, &.right-up {
    margin-bottom: @menu-yoffset;

    .menu-pointer:after {
      border-top: @pointer-size solid @standard-background-color;
      bottom: -@pointer-size-in-px;
    }

    .menu-pointer:before {
      border-top: @pointer-size solid @menu-border-color;
      bottom: -(@pointer-size-in-px + @border-width);
    }
  }

  &.right-up, &.right-down {
    margin-left: @menu-xoffset;

    .menu-pointer:after, .menu-pointer:before {
      left: @pointer-edge-offset;
    }
  }

  &.left-down, &.right-down {
    margin-top: @menu-yoffset;

    .menu-pointer:after {
      border-bottom: @pointer-size solid @menu-title-background-color;
      top: -@pointer-size-in-px;
    }

    .menu-pointer:before {
      border-bottom: @pointer-size solid @menu-border-color;
      top: -(@pointer-size-in-px + @border-width);
    }
  }

  &.left-up, &.left-down {
    margin-right: @menu-xoffset;

    .menu-pointer:after, .menu-pointer:before {
      right: @pointer-edge-offset;
    }
  }

  .menu-pointer {
    &:after {
      content: '';

      border-left: @pointer-size solid transparent;
      border-right: @pointer-size solid transparent;

      position: absolute;
    }

    &:before {
      content: '';

      border-left: @pointer-size solid transparent;
      border-right: @pointer-size solid transparent;

      position: absolute;
    }
  }
}

.text-only-menu-content {
  .small-light-font();
  padding: 0.5rem;
  width: @standard-menu-width;
}
