@import 'variables.css.less';
@import 'mixins.css.less';

@checked-blue:#F8FAFF;
@gray:#666;
@hover-gray: #F8F8F8;
@pad:0.25rem;

.act-ut{
  border:@border-3;
  box-shadow: 0 0.75rem 2rem rgba(0,0,0,0.3);
  max-width: 14rem;
  z-index: 2;
  position: absolute;
  top:98%;
  right:2.25rem;
  background-color: white;

  ul{
    margin:0;
    padding:0;
    list-style-type: none;
  }
}
.act-ut-header{
  text-align: center;
  background-color: @bg-3;
  border-bottom: @border-3;
  color:@gray;
  .title-font();
  padding:0.15rem;
}
.act-ut-folders-list{
  background-color: white;
  max-height:30rem;
  overflow-y:auto;
}

&.emtpy .act-ut-empty-error{
  display:block;
}

.act-ut-folder{
  padding:@pad 0.5rem;
  border-bottom:@border-1;
  cursor: pointer;
  color:@gray;
  &.checked,
  &.checked:hover{
    background-color: @checked-blue;
  }
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    background-color:@hover-gray;
  }
  &.checked.last{
    background-color:@checked-blue;
    transition:background-color 0.5s;
    &:active{
      background-color:@bg-1;
      transition:background-color 0s;
    }
  }
}

.act-ut-folder-identifier{
  display:inline-block;
  padding:@pad;
  color:#AAA;
}


.act-ut-folder-left{
  .ellipsis;
  padding:@pad 0;
}


.act-ut-folders-list.single-select-mode .act-ut-checkbox{
  display: none;
}

.act-ut-folder .checkbox-icon-checked{
  display:none;
}
.act-ut-folder.checked{
  .checkbox-icon-unchecked{
    display:none;
  }
  .checkbox-icon-checked{
    display:inline-block;
  }
}

.act-ut-folder-title{
  padding-left:@pad;
}


@tooltip-size: 10px;

.act-ut-tooltip-triangle{
    content:' ';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-left: @tooltip-size solid transparent;
    border-right: @tooltip-size solid transparent;
    border-bottom:@tooltip-size solid @border-color-3;

    right:@tooltip-size;
    top:-@tooltip-size;
}
.act-ut:before{
  .act-ut-tooltip-triangle;
}

.act-ut:after{
  .act-ut-tooltip-triangle;
  border-bottom-color:@bg-3;
  top:-@tooltip-size + 1px;
}





