@import 'variables.css.less';
@import 'mixins.css.less';

@border-dark:1px solid #AAA;
@border-light:1px solid #DDD;

@checked-blue:#F0F8FF;
@gray-dark:#444;
@gray:#888;

@pad:0.25rem;

.act-update-topics{
  border:@border-dark;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  max-width: 14rem;

  ul{
    margin:0;
    padding:0;
    list-style-type: none;
  }
}
.act-ut-header{
  text-align: center;
  background-color: #DDD;
  border-bottom: @border-dark;
  color:@gray;
  font-size: 0.75rem;
  padding:0.15rem;
}
.act-ut-topics-list{
  background-color: #F0F0F0;
  max-height:30rem;
  overflow-y:auto;
}

.act-ut-empty-error{
  display:none;
  border-bottom:@border-dark;
  font-size:0.75rem;
  text-align: center;
  color:@gray;
  padding:0.5rem;
  .act-ut-empty-error-text{
    padding:@pad;
    border:@border-light;
    display:block;
    background-color:#FFD;
  }
}

&.emtpy .act-ut-empty-error{
  display:block;
}

.act-ut-topic{
  padding:@pad;
  border-bottom:1px solid #CCC;
  cursor: pointer;
  color:@gray;
  &.checked,
  &.checked:hover{
    background-color: @checked-blue;
  }
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    background-color:#FAFAFA;
  }
}

.act-ut-topic-identifier{
  display:inline-block;
  padding:@pad;
}


.act-ut-topic-left{
  .ellipsis;
  padding:@pad 0;
  //padding-left:0;
}


.act-ut-topics-list.single-select-mode .act-ut-checkbox{
  display: none;
}

.act-ut-topic .icon-check{
  display:none;
}
.act-ut-topic.checked{
  .icon-check-empty{
    display:none;
  }
  .icon-check{
    display:inline-block;
  }
}

.act-ut-topic-title{
  padding-left:@pad;
}

