@import 'variables.css.less';
@import 'mixins.css.less';

// --- Actions --- //


// Temporarily remove deletion actions
.act-deletion {
  display: none;
}

.editing-style{
  box-sizing:border-box;
  background-color:white !important;
  border-color: green;
  z-index:1;

  outline: none;
  box-shadow:inset 0 0 5px rgba(0,0,255,0.2);
  border-color: #ABC;

  .btn-icon.btn-faint{
    color:@btn-faint-color-hover;
    &:hover{
      color:@btn-faint-color-solid;
    }
  }
}


.act-container.not-participating-in{
  .act-title-input{
    color:#888;
  }
  .act-title-actions,
  .act-participants-edit{
    display:none !important;
  }
}

.act-container{
  .act-participants-join{display:none;}
}
.act-container.not-participating-in{
  .act-participants-join{
    display:inline-block;
    margin-top: 0.15rem;
  }
}

.act-participants{
  position: relative;
  min-height:1.5rem;
  max-height: 6rem;
  overflow-y:auto;
  background-color: @bg-1;
  border:1px solid transparent;
  border-bottom-color:@border-color-1;
  @media(max-width:@bp-1){
    border-bottom-color:@border-color-2;
  }
  padding:0 0.5rem;
  padding-right:1.5rem;
  overflow-y:visible;
  &.editing{
    .editing-style();
  }

  ul{
    margin:0;
    padding:0;
  }


  li.user-reminder{
    display:none;
  }

  input{
    border:none;
    background-color: transparent;
    outline:none;
  }
}




.act-participants-actions,
.act-participants-save-actions{
  position: absolute;
  right:.1rem;
  top:50%;
  margin-top:-0.7rem;
  margin-left:3rem;
}

.participant-remove{
  display: none;
}

.act-participants.editing {
  .participant-remove {
    display: inline;
    cursor: pointer;
  }
}

.act-list{
  padding:0.5rem;
  @media(min-width:@bp-1){
    padding:0.75rem;
  }
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  left:0;
  right:0;
  top:4rem;
  bottom:0;
  margin-bottom:2.7rem;
  -webkit-overflow-scrolling:touch;
}
.act{
  padding:0.125rem;
  @media(min-width:@bp-1){
    padding:0.25rem;
  }
}

// These are some real bullshit to adjust the spacing of update messages in relation to regular messages

.act-message + .act-update-viewers,
.act-message + .act-update-users,
.act-message + .act-deletion,
.act-message + .act-move-conversation,
.act-message + .act-retitle,
.act-message + .act-update-folders {
  padding-top:0.5rem;
}

.act-update-viewers + .act-message,
.act-update-users + .act-message,
.act-move-conversation + .act-message,
.act-deletion + .act-message,
.act-retitle + .act-message,
.act-update-folders + .act-message {
  margin-top:0.25rem;
}

.act-message{
  padding:0.25rem;
  @media(min-width:@bp-1){
    padding:0.65rem;
  }

  z-index:1;
  a{
    .link-blue();
  }

}

// --- Messages --- //
@border-color-message: #E6E6E6;

// --- My Messages --- //
@border-color-act-my-message: #EAEAEA;
@background-color-act-my-message:#FAFAFA;

// --- Pending Messages --- //
@color-pending:#CCC;
@border-color-pending: #E8E8E8;
@background-color-pending:#FBFBFB;


@border-message: 1px solid @border-color-message;
@border-act-my-message: 1px solid @border-color-act-my-message;
@border-pending: 1px solid @border-color-pending;

.act-message + .act-message,
.act + .act-message,
.act-message + .act{
  border-top:@border-message;
}

.act-list .act:first-child{
  border-top:@border-message;
}

.act-list .act:last-child{
  border-bottom:@border-message;
}

.act-message.act-my-message{
  background-color:@background-color-act-my-message;
  border:@border-act-my-message;
  transition: none;
}

.act-message.act-my-message + .act-message.act-my-message{
  margin-top:1.0rem;
}
.act-message.act-my-message + .act:not(.act-my-message){
  border-top:none;
}
.act-message.act-my-message + .act.act-my-message:not(.act-message){
  border-top:none;
}


.act-message.act-my-message.pending{
  background-color:@background-color-pending;
  border: @border-pending;
  color:@color-pending;
}

.act-unread {
  position:relative;
  z-index: 0;
  &:before{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #BBB;
    width: 0.15rem;
    margin: 0.25rem 0.15rem;
  }
}

.act-sender{
  font-weight: bold;
}

.act-info-group{
  display:inline-block;
}

.act-time{
  color:#DDD;
  font-size: .75rem;
  vertical-align: middle;
  display: inline-block;
}

.act-text{
  padding:0.3rem 0;
  color:#444444;
  line-height: 1.5;
  white-space:pre-wrap;
  margin-top:0.25rem;
  font-size:0.8rem;
  @media(min-width:@bp-1){
    font-size:1.0rem;
  }
}

.act-update-viewers,
.act-update-users,
.act-retitle,
.act-deletion,
.act-move-conversation,
.act-update-folders{
  font-size:.6rem;
  color:#CCC;
  text-align: center;
  @media(min-width:@bp-1){
    font-size:0.75rem;
  }
}

.tokens{
  list-style: none;
}

.token-options{
  position:absolute;
  top:100%;
  left:0;
  display:block;
  width: auto;
  min-width: 10rem;
  max-width: 15rem;
  max-height:10rem;
  overflow-y:auto;
  border:1px solid #CCC;
  background-color:#FAFAFA;
  box-shadow:0 0.1rem .4rem rgba(0,0,0,0.2);
}

.token-option{
  display:block;
  padding:0.25rem;
  font-size:0.8rem;
  color:#888;
  cursor:pointer;
  & + .token-option{
    border-top:1px solid #CCC;
  }
  &.target{
    background-color:#EAEAEA;
  }
}
