@import 'variables.css.less';
@import 'mixins.css.less';

// --- Actions --- //


// Temporarily remove deletion actions
.act-deletion {
  display: none;
}

.editing-style{
  box-sizing:border-box;
  background-color:white !important;
  border-color: green;
  z-index:1;

  outline: none;
  box-shadow:inset 0 0 5px rgba(0,0,255,0.2);
  border-color: #ABC;

  .btn-icon.btn-faint{
    color:@btn-faint-color-hover;
    &:hover{
      color:@btn-faint-color-solid;
    }
  }
}


.act-container.not-participating-in{
  .act-title-input{
    color:#888;
  }
  .act-title-actions,
  .act-participants-edit{
    display:none !important;
  }
}

.act-container{
  .act-participants-join{display:none;}
}
.act-container.not-participating-in{
  .act-participants-join{
    display:inline-block;
    margin-top: 0.15rem;
  }
}

/* Participants Editor stuff is in act-edit-participants.css.less */



.act-list{
  background-color: white;
  padding:0.5rem;
  @media(min-width:@bp-1){
    padding:0.75rem;
  }
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  left:0;
  right:0;
  top:4rem;
  bottom:3.7rem;
}
.act{
  cursor:default;
  padding:0.125rem;
  @media(min-width:@bp-1){
    padding:0.25rem;
  }
  &.act-msg.act-current {
    border:1px solid #ACE !important;
    box-shadow:0 0.1rem 0.5rem rgba(0,128,255,0.2);
  }
  .act-msg.act-my-message.act-current{

  }
}

// These are some real bullshit to adjust the spacing of update messages in relation to regular messages

.act-sys{
  padding:0.5rem;
}

.act-sys + .act-sys{
  padding-top:0;
}

.act-msg{
  padding:0.25rem;
  @media(min-width:@bp-1){
    padding:0.5rem;
  }

  z-index:1;
  a{
    .link-blue();
  }
}

.act-update-folders.removed{
  height:0 !important;
  & + .act-update-folders.removed{
    display:none;
  }
}

// --- Messages --- //
@border-color-message: #E6E6E6;

// --- My Messages --- //
@border-color-act-my-message: #EAEAEA;
@background-color-act-my-message:#FAFAFA;

// --- Pending Messages --- //
@color-pending:#CCC;
@border-color-pending: #E8E8E8;
@background-color-pending:#FBFBFB;


@border-message: 1px solid @border-color-message;
@border-act-my-message: 1px solid @border-color-act-my-message;
@border-pending: 1px solid @border-color-pending;

.act-list .act:first-child{
  border-top:@border-message;
}

.act-list .act:last-child{
  border-bottom:@border-message;
}

.act-sys + .act-msg.act-my-message,
.act-msg + .act-msg.act-my-message{
  border-top:@border-message;
  margin-top:0;
}

.act-msg.act-my-message + .act-msg.act-my-message,
.act-msg.act-current + .act-msg.act-my-message,
.act-msg.act-my-message + .act-msg.act-current{
  margin-top:1.0rem;
}

.act-msg + .act-msg{
  border-top:@border-message;
  margin-top:0;
}
.act-msg.act-my-message + .act-msg,
.act-msg.act-my-message + .act-sys{
  border-top:0;
}
.act-msg.act-my-message + .act-msg.act-my-message{
  border-top:@border-message;
  margin-top:1.0rem;
}

.act-msg + .act-sys{
  border-top:@border-message;
}
.act-msg.act-my-message + .act-sys{
  boreder-top:none;
}


.act-sys + .act-msg{
  border-top:@border-message;
}

.act-msg.act-my-message{
  background-color:@background-color-act-my-message;
  border:@border-act-my-message;
  transition: none;
}

.act-message.act-my-message.pending{
  background-color:@background-color-pending;
  border: @border-pending;
  color:@color-pending;
}

.act-imageLink{
  height:13rem;
  max-width: 20rem;
  display:block;
  background-repeat:no-repeat;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border:1px solid #CCC;
  background-color: #F8F8F8;
  margin:0.25rem;
  margin-left:0;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.15);
}


@unread-width: 2px;

@unread-top: 0.5rem;
@unread-bottom: 0.3rem;

@unread-follow-top:0;

.act-msg {
  position:relative;
  position:relative;
  z-index: 0;
  color:black;

  /* vertical bar */

  &:before{
    content:" ";
    position: absolute;
    left:-0.125rem;
    top:@unread-top;
    bottom:@unread-bottom;
    background-color: white;
    width: @unread-width;
    z-index: 1;
    transition:background-color 0.5s;
  }
  &.act-follow-on:before{
    top:-@unread-bottom;
  }
  &.act-unread:before{
    background-color:@unread-blue;
    transition:none;
  }
  &.act-my-message:before{content: none;}
}

.act-sender{
  font-weight: bold;
}



.act-info-group{
  display:inline-block;
}

.act-msg-details{
  color:#DDD;
}
.act-email-indicator{
  margin-right:0.35rem;
  cursor:pointer;
  &:hover{
    color:#444;
  }
}
.act-time{
  //display: inline-block;
  font-size: .75rem;
}

.act-text{
  padding:0;
  padding-top:0.25rem;
  color:#444444;
  line-height: 1.75;
  white-space:pre-wrap;
  margin-top:0.25rem;
  font-size:0.8rem;
  word-wrap:break-word;
  @media(min-width:@bp-1){
    font-size:1.0rem;
  }
}

@padding-follow: 0.25rem;

.act-message.act-follow-on {
  border-color: transparent;
  border:none;
  padding-top: @padding-follow;
  padding-bottom:@padding-follow;

  .act-sender {
    display: none;
  }
  .act-info {
    float: right;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
  }
  .act-text{
    margin: 0;
    padding: 0;
  }
  .act-time {
    display: none;
  }
}

.act-message.act-follow-on.act-follow-on-long-term {
  .act-info{
    float:right;
  }
  .act-time {
    display: inline-block;
  }
}

.act-message.act-my-message + .act-message.act-my-message.act-follow-on {
  border-top: none;
  border-left: @border-act-my-message;
  border-right: @border-act-my-message;
  border-bottom:@border-act-my-message;
  margin-top: -1px;
}

.act-sys{
  font-size:.6rem;
  color:#CCC;
  text-align: center;
  @media(min-width:@bp-1){
    font-size:0.75rem;
  }
}

.tokens{
  list-style: none;
}

.token-options{
  position:absolute;
  top:100%;
  left:0;
  display:block;
  width: auto;
  min-width: 10rem;
  max-width: 15rem;
  max-height:10rem;
  overflow-y:auto;
  border:1px solid #CCC;
  background-color:#FAFAFA;
  box-shadow:0 0.1rem .4rem rgba(0,0,0,0.2);
}

.token-option{
  display:block;
  padding:0.25rem;
  font-size:0.8rem;
  color:#888;
  cursor:pointer;
  & + .token-option{
    border-top:1px solid #CCC;
  }
  &.target{
    background-color:#EAEAEA;
  }
}
