@import 'variables.css.less';
@import 'mixins.css.less';
@import 'btn.css.less';
//@import 'btn-toolbar.css.less';

// --- Actions --- //

.act-title{
  position: relative;
  padding-left:0;
}

.act-title-input{
  box-sizing:border-box;
  background-color:transparent;
  border:none;
  width:100%;
  //height:2rem;
  padding:.25rem 0;
  font-size: 1rem;
  font-weight: bold;
  //overflow:hidden;
  //display:block;
  outline:none;
}

.act-title.editing{
  background-color:white !important;
  box-shadow:inset 0 0 0.5rem rgba(0,0,255,0.3);
  border-top-color:#ACE;
  border-bottom-color:#9AB;
}

.act-title-actions{
  position: absolute;
  top:.25rem;
  right:.25rem;
}

.act-participants{
  position: relative;
  height:1.5rem;
  background-color: #EEE;
  border-bottom:1px solid @wc-toolbar-border-color;
  padding:0 .5rem;

  ul{
    margin:0;
    padding:0;
  }

  li{
    list-style: none;
    display: inline-block;
  }

  li.user-reminder{
    display:none;
  }

  input{
    border:none;
    background-color: transparent;
    outline:none;
  }
}

.participant{
  font-size:.8rem;
  color:#888;
}
.participant + .participant:before{
  content:", ";
}

.act-participants-actions{
  right:.1rem;
  top:.2rem;
  position: absolute;
}

.participant-remove{
  display: none;
}

.act-participants.editing {
  .participant-remove {
    display: inline;
    cursor: pointer;
  }
}

.act-list{
  padding:.5rem;
}

.act{
  padding:.3rem;
}

.act-message{
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
  margin-top:1px;
}

.act-sender{
  font-weight: bold;
}

.act-info-group{
  display:inline-block;
}

.act-time{
  color:#DDD;
  font-size: .75rem;
  vertical-align: middle;
  display: inline-block;
}

.act-text{
  padding:0.3rem 0;
}

.act-update-users,
.act-retitle,
.act-deletion{
  font-size:.75rem;
  color:#CCC;
  text-align: center;
}

.long-form-compose{
  display:none;
}

.token-option {
  width: 100%;

  &.target {
    background-color: #ff0000;
  }
}
