@import 'variables.css.less';
@import 'mixins.css.less';


.admin-page {

  .admin-table{
    max-width:30rem;
    border:1px solid #AAA;
    margin: 2rem auto;
  }

  .full-page();

  table {
    .stripey-table;
    width:100%;
  }
}
