@import 'variables.css.less';
@import 'mixins.css.less';


.admin-page {
  background-color: white;
  a{
    .link-blue();
  }
  td{
    .ellipsis();
  }
  .admin-table, .admin-links{
    border:@border-1;
    margin:1rem;
    @media( min-width:@bp-1){
      max-width:30rem;
      margin: 2rem auto;
    }
  }

  .full-page();

  table {
    .stripey-table;
    width:100%;
  }
}

