@import 'b-buttons.less';
@import 'b-mixins.less';


/* Button Groups */

.btn-group{
  position: relative;
  display: inline-block;
  //.ie7-inline-block();
  font-size: 0; // remove as part 1 of font-size inline-block hack
  vertical-align: middle; // match .btn alignment given font-size hack above
  white-space: nowrap; // prevent buttons from wrapping when in tight spaces (e.g., the table on the tests page)
  //.ie7-restore-left-whitespace();
  .button-shadow();
  .clearfix();
  
  > .btn, 
  > .btn.btn-primary,
  > .btn.btn-gray{
  	display:inline-block;
  	box-shadow:none;
  	float:none;
  	border-radius:0;
  }
  
  > .btn + .btn{
  	margin-left:-1px;
  }


  // Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
  > .btn:first-child {
    margin-left: 0;
    .border-left-radius(@border-radius);
  }
  // Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
   > .btn:last-child {
    .border-right-radius(@border-radius);
  }
}


// Space out series of button groups
.btn-group + .btn-group {
  margin-left: 5px;
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  font-size: 0; // Hack to remove whitespace that results from using inline-block
  .clearfix();

  > .btn + .btn,
  > .btn-group + .btn,
  > .btn + .btn-group {
    margin-left: 5px;
  }
}