@import 'b-buttons.less';
@import 'b-mixins.less';
@import 'variables.css.less';


/* Button Groups  are just groups of buttons. They do not change the appear ance of the buttons an do not affect the padding or margins.

They are most useful for floating multiple buttons to one side.  */


.btn-group{
  position: relative;
  display: inline-block;
  .ie7-inline-block();
  font-size: 0;
  white-space: nowrap;
  .clearfix();

  > .btn,
  > .btn.btn-primary,
  > .btn.btn-gray,
  > .btn.btn-text{
    display:inline-block;
    float:none;
    clear:both;
  }
}

/* Button Toolbars are block level elements that contain buttons and button groups.  */

.btn-toolbar{
  font-size:0;
  padding:.5rem;
}

// The ends of a btn-group don't need margins
.btn-group.pull-left .btn:first-child{
  margin-left:0;
}

.btn-group.pull-right .btn:last-child{
  margin-right:0;
}

