@import 'b-mixins.less';

@border-radius: 0;

.btn{
	font-size: 1rem;
	font-weight: normal;
	text-decoration:none;
	padding:.25rem .6rem;
	border:1px solid #CCC;
	background-color:#F0F0F0;
	color:#444;
	text-shadow:1px 1px 1px white;
	.button-shadow();
	cursor:pointer;
	.user-select(none);
	margin:0;

  &:hover,
  &.hover{
  	background-color:#D8E8F8;
  }

  &:active, &:focus, &.active{
  	box-shadow:none;
  	background-color:#D4E4F4;
  	position:relative;
  	top:1px;
  }
}

.btn.btn-primary{
	color:white;
	text-shadow:1px 1px 1px #888;
	background-color:#7AD;
	border-color:#999;
	box-shadow:0 3px 3px -3px rgba(0,0,0,0.4);

  &:hover,
  &.hover{
	   background-color:#8BE;
	 }
	 &:active,
	 &:focus,
	 &.active{
  	 box-shadow:none;
  }
}

.btn.btn-gray{
	color:#444;
	text-shadow:1px 1px 1px #EEE;
	background-color:#CCC;
	border-color:#999;
	box-shadow:0 3px 3px -3px rgba(0,0,0,0.4);

  &:hover,
  &.hover{
	   background-color:#C8D8E8;
	 }
}

@color-faint:#E0E0E0;
@color-solid:#808080;

.btn.btn-faint {
  background-color:transparent;
  color:transparent;
  border-color: transparent;
  box-shadow:none;
  text-shadow: none;
  padding:2px 5px;

  &:hover {
    color:@color-solid;
    -webkit-transition: color 0.5s;

  }
  &:active,
  &.active {
    position:static;
    background-color:#DEF;
    color:@color-solid;
    border-color:#CCC;
  }
}

.btn-faint-container{
    & .btn.btn-faint.active{
      color:@color-solid;
    }
    &:hover a.btn{
        color:@color-faint;
        -webkit-transition: color 0.5s;
        -webkit-transition-delay: color 0.25s;

        &:hover,
        &.active{
            color:@color-solid;
        }
    }
}

// adjust spacing on buttons with icons.

.btn > i {
    position: relative;
    right: .15em;
}

.btn-icon,
.btn.btn-icon{
  background-color:transparent;
  border:1px solid transparent;
  font-size: 1rem;
  font-weight: normal;
  text-decoration:none;
  padding:0.0rem .2rem;
  color:#999;
  text-shadow:1px 1px 1px #EEE;
  cursor:pointer;
  .user-select(none);
  margin:0;
  vertical-align: middle;
  margin-left:.5rem;
  &:hover,
  &.hover{
    color:#222;
    //text-shadow:1px 1px 10px #ABC;
    -webkit-transition: color 0.35s;
  }

  &:active, &:focus, &.active{
    position:relative;
    top:1px;
  }
  > i{
    display:inline-block;
    vertical-align: middle;
    font-size:1.5rem;
  }
  > .icon-text{
    display:inline-block;
    vertical-align: middle;
    font-size:.8rem;
    margin-left:.5rem;
  }
}

.btn-icon-group{
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  .clearfix();

  > .btn-icon,
  .btn.btn-icon{
    display:inline-block;
    box-shadow:none;
    float:none;
  }
}
