@import 'b-mixins.less';

@border-radius: 0;

.btn{
  border-radius: @border-radius;
	font-size: 1rem;
	font-weight: normal;
	text-decoration:none;
	padding:.25rem .6rem;
	border:1px solid #CCC;
	background-color:#F0F0F0;
	color:#444;
	text-shadow:1px 1px 1px white;
	.button-shadow(0.2);
	cursor:pointer;
	.user-select(none);
	margin-bottom:0;
  vertical-align: middle;
  height:1.8rem;
  //vertical-align: middle;
  line-height: 1.1rem;
  display: inline-block;
  &:hover,
  &.hover{
  	background-color:#D8E8F8;
  }

  &:active,
  &:focus,
  &.active{
  	box-shadow:none;
  	background-color:#D4E4F4;
  	position:relative;
  	top:1px;
  }
}

.btn.btn-primary{
	color:white;
	text-shadow:1px 1px 1px #888;
	background-color:#7AD;
	border-color:#AAA;
	.button-shadow(0.4);
  &:hover,
  &.hover{
	   background-color:#8BE;
	 }
	 &:active,
	 &:focus,
	 &.active{
  	 box-shadow:none;
  }
}

.btn.btn-gray{
	color:#444;
	text-shadow:1px 1px 1px #EEE;
	background-color:#CCC;
	border-color:#999;
	.button-shadow(0.4);

  &:hover,
  &.hover{
	   background-color:#C8D8E8;
	 }
  &:active,
  &:focus,
  &.active{
    box-shadow:none;
  }
}

@color-faint:#E0E0E0;
@color-solid:#808080;

.btn.btn-faint {
  background-color:transparent;
  color:transparent;
  border-color: transparent;
  box-shadow:none;
  text-shadow: none;
  padding:2px 5px;

  &:hover {
    color:@color-solid;
    -webkit-transition: color 0.5s;

  }
  &:active,
  &.active {
    position:static;
    background-color:#DEF;
    color:@color-solid;
    border-color:#CCC;
  }
}

.btn-faint-container{
    & .btn.btn-faint.active{
      color:@color-solid;
    }
    &:hover a.btn{
        color:@color-faint;
        -webkit-transition: color 0.5s;
        -webkit-transition-delay: color 0.25s;

        &:hover,
        &.active{
            color:@color-solid;
        }
    }
}

.btn.btn-text {
  background-color:transparent;
  color:#444;
  border-color: transparent;
  box-shadow:none;
  text-shadow: none;
  font-weight:bold;
  cursor:default;

  &:active,
  &.active {
    position:static;
  }
}
