.dropdown-menu-toggle{
    position: relative;
}

.dropdown-menu {
    border:1px solid #BBB;
    background-color:#FAFAFA;
    display:inline-block;
    position:absolute;
    min-width:160px;
    top:100%;
    right:0;
    left:auto;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
    margin-top:-1px;
    & form{
        padding:0;
        margin:0;
        border:none;
    }

    & a,
    & .dropdown-menu-item {
        text-decoration:none;
        display:block;
        font-size:1rem;
        line-height:100%;
        padding:.7rem;
        margin:0;
        text-align: left;
        background-color:transparent;
        color:#888;
        cursor:pointer;
        border:none;
        width:100%;
        //box-sizing:border-box;
        //vertical-align: middle;
    }
    & a:hover,
    & .dropdown-menu-item:hover{
        background-color:#E8F4FF;
    }
    & a:active
    & .dropdown-menu-item:active{
        background-color:#DEF;
    }
    & .dropdown-menu-item + .dropdown-menu-item,
    & a + .dropdown-menu-item,
    & .dropdown-menu-item + a,
    & a + a{
        border-top:1px solid #CCC;
    }
}

.hidden {
    display:none !important;
}
