    .dropdown-menu {
      border:1px solid #BBB;
      background-color:#FAFAFA;
      display:inline-block;
      position:absolute;
      min-width:160px;
      top:140%;
      right:-60px;
      left:auto;
      box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
      z-index: 2;
      & .title {
        border-bottom:1px solid #BBB;
        padding:3px;
        text-align:center;
        background-color:#DDD;
        color:#666;
        font-weight:bold;
        font-size:0.75rem;
        cursor:default;
        text-shadow: 1px 1px 1px white;
      }
      & a {
        text-decoration:none;
        display:block;
        font-size:1rem;
        padding:10px;
        color:#888;
        cursor:pointer;
      }
      & a:hover {
        background-color:#E8F4FF;
      }
      & a:active {
        background-color:#DEF;
      }
      & * {
        display:block;
      }
      
      & ul{
        padding:0;
      }
      &  li + li {
        border-top:1px solid #CCC;
      }
}
    .hidden {
      display:none !important;
    }
/*    .event {
      width:450px;
      margin:35px auto;
      border:1px solid #CCC;
      background-color:white;
    }
    .sender {
      display:inline-block;
      padding:2px;
      color:#666;
      font-weight:bold;
    }
    .sent {
      color:#AAA;
      font-size:0.75rem;
    }
    .top-bar {
      //background-color:#F8F8F8;
      padding:5px;
      border-bottom:1px solid #FFF;
    }
    .content {
      color:#444;
      line-height:1.45rem;
      padding:5px;
      overflow:hidden;
    }*/