@import 'variables.css.less';
@import 'mixins.css.less';

// --- Conversations List --- //

// This does not include styles that control the position, of the converstion list column.  those are with the water-cooler.css.less file and other general layout stuff
.cnv-list {
  position: absolute;
  top: 2.5rem;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x:hidden;

}
.cnv-list-title{
  .ui-mobile-only();
  .title-font();
  .ellipsis();
  text-align: center;
  position:absolute;
  left:4rem;
  right:4rem;
  top:0.5rem;
}
.cnv-new-button{
}

.cnv-section{
  .cnv-note{
    display:none;
  }
}
.cnv-section.is-collapsed{
  .cnv{
    display:none;
  }
  .cnv-note{
    display:block;
  }
}
.cnv-divider{
  .gradient-ltr(@border-color-1,white,90%);
  cursor:default;
  padding-bottom: 1px;
  .cnv-divider-inner{
    .gradient-ltr(#F8F8F8,white,90%);
    .ellipsis();
    color:#AAA;
    font-size: 0.75rem;
    padding: 0.25rem;
  }
}
.cnv-note{
  .gradient-ltr(@border-color-1,white,90%);
  cursor:default;
  padding-bottom: 1px;
  .cnv-note-inner{
    background-color: white;
    .ellipsis();
    color:#DDD;
    font-weight: normal;
    font-size: 0.75rem;
    padding: 0.75rem;
    text-align: center;
  }

}
.cnv {
  padding: 0;
  border: none;
  padding-bottom: 1px;
  .gradient-ltr(@border-color-1,white,90%);
  cursor:pointer;
}

.cnv-left {
  background-color:white;
  padding: 0.5rem;
  @media(min-width:@bp-2){
    padding: 0.25rem;
  }
  background-color: white;
}
@media (min-width:@bp-1){
  .cnv.cnv-current .cnv-left{
    .gradient-ltr(#F0F8FF,white,90%)
  }
}
.cnv-right{
  float:right;
  border:1px solid transparent;
  padding-left:0.75rem;
  padding-right:0.25rem;
  margin-top:1.0rem;
}

.cnv-unread-indicator{
  border-radius:1px;
  margin-left:0.1rem;
  border:0px solid white;
  line-height: 1.0;
  vertical-align:top;
  width:0.35rem;
  height:1.0rem;
  display:inline-block;
}

.cnv-unread-indicator-style(@color-percent){
  background-color: mix(@unread-blue, white, @color-percent);
}

.cnv-unread-count-few .cnv-unread-indicator{
  .cnv-unread-indicator-style(40%);
}
.cnv-unread-count-some .cnv-unread-indicator{
  .cnv-unread-indicator-style(70%);
}
.cnv-unread-count-many .cnv-unread-indicator{
  .cnv-unread-indicator-style(100%);
}


@cnv-time-gray:#CCC;

.cnv-time{
  display:inline-block;
  font-size:0.7rem;
  line-height: 1.0;
  color:@cnv-time-gray;
  vertical-align:top;
  margin-top:0.1rem;
}

@cnv-participant-gray:#AAA;

@cnv-border-color:#CCC;

// .cnv{
//   a{
//     text-decoration: none;
//   }
//   padding:.3rem;
//   border-bottom:1px solid @cnv-border-color;
// }
@cnv-title-color:#444444;

.cnv-title{
  .title-font();
  .ellipsis();
  color:@cnv-title-color;
}

.cnv-participants{
  font-size:.8rem;
  min-height:1.0rem;
  color:@cnv-participant-gray;
  .ellipsis();
}

.cnv-participant + .cnv-participant:before{
  content:",  ";
}



.loading-placeholder{
  display:none;
}

.is-loading .loading-placeholder{
  margin:4rem 1rem;
  padding:1rem;
  color:#CCC;
  border-top:1px solid #E0E0E0;
  border-bottom:1px solid #E0E0E0;
  text-align:center;
}

.loading-text{
  font-style:italic;
  display:inline-block;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes pulse {
  0% {
    color:#EEE;
  }
  50%{
    color:#AAA;
  }
  100% {
    color:#EEE;
  }
}
