@import 'variables.css.less';
@import 'mixins.css.less';

// --- Conversations List --- //

// This does not include styles that control the position, of the converstion list column.  those are with the water-cooler.css.less file and other general layout stuff


.cnv-list {
    position: absolute;
    top: 2.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x:hidden;
}

.cnv {
  padding: 0;
  border: none;
  padding-bottom: 1px;
  .gradient-ltr(#CCC,white,90%)
}

.cnv-left {
  background-color:white;
  padding: .25rem;
  background-color: white;
  cursor: pointer;
}

.cnv.cnv-current .cnv-left{
  .gradient-ltr(#F0F8FF,white,90%)
}
.cnv-right{
  float:right;
  height:2.25rem;
  font-size:1.75rem;
  border:1px solid transparent;
  padding-left:0.75rem
}
.cnv-count{
  display:inline-block;
  font-size:1.0rem;
  padding:0.25rem 0.25rem;
  color:#4AF;
  vertical-align:middle;
  border:1px solid transparent;
  border-left-color:#E8E8E8;
}
.cnv-time{
  display:inline-block;
  padding:0.25rem;
  font-size:0.65rem;
  color:#CCC;
  vertical-align:middle;
}








@cnv-participant-gray:#AAA;

@cnv-border-color:#CCC;

// .cnv{
//   a{
//     text-decoration: none;
//   }
//   padding:.3rem;
//   border-bottom:1px solid @cnv-border-color;
// }
.cnv-title{
  font-weight: bold;
}

.cnv-participants{
  font-size:.8rem;
  color:@cnv-participant-gray;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cnv-participant + .cnv-participant:before{
  content:",  ";
}
