@import "variables.css.less";
@import "mixins.css.less";


// --- Foucus mixin --- //



// --- New message compose window --- //

.new-cnv-compose{
  background-color:rgba(128,128,128,0.4);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  .pop-over();
}

.new-cnv-window{

  min-width:25rem;
  max-width:45rem;

  margin-top:4rem;
  margin-left:auto;
  margin-right:auto;

  background-color: #EEE;
  border: 1px solid #888;
  padding: 0;
  box-shadow: 0 1rem 4rem 1rem rgba(0,0,0,0.3);
}


.new-cnv-info-bar{
  text-align: center;
  border-bottom:1px solid #AAA;
  background-color: #CCC;
  color:#888;
  padding:0.25rem;
  font-size:0.75rem;

}

.new-cnv-toolbar-group-right{
  position:absolute;
  right:0.3rem;
  top:50%;
  margin-top:-0.85rem;
}

.new-cnv-toolbar-text{
  display:block;
  //text-align: center;
  padding:0.15rem;
  color:#AAA;
  //text-shadow:1px 1px 1px white;
}

.focus-style{
  outline: none;
  box-shadow:inset 0 0 .4rem rgba(0,128,255,0.3);
  border-color: #ABC;
  background-color:white;
}

.new-cnv-folder{
  position:absolute;
  right:0.25rem;
  top:0.25rem;
}

.new-cnv-folder-icon{
  color:#AAA;
  font-size:1rem;
  position:absolute;
  left:0.45rem;
  top:0.25rem;
}

.new-cnv-folder-text{
  font-size:0.75rem;
  padding:0.25rem;
  padding-left:0.95rem;
  min-width:10rem;
  border:1px solid #DDD;
  background-color: #F8F8F8;
  color:#AAA;
  &:focus{
    .focus-style();
  }
}

.new-cnv-title-toolbar,
.new-cnv-participants-toolbar,
.new-cnv-contents {
  position:relative;
  border-bottom:1px solid #CCC;
}


.new-cnv-input-style{
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
    color:#666;
    background-color: #EEE;
    &:focus,
    &.focus{
      .focus-style();
    }
}

.new-cnv-title-input{
  .new-cnv-input-style();
  .title-font();
  color:@textColor;
  font-size:1rem;
  //letter-spacing: normal;
  //line-height: 1.0;
  padding-right:11rem;
  text-overflow:ellipsis;
}

.new-cnv-participants-input{
  .new-cnv-input-style();
  font-size:0.75rem;
  color:#AAA;
  padding:0.25rem 0.5rem;
}

.new-cnv-permissions{
  i{
    font-size:1.0rem;
  }
  position:absolute;
  right:0.25rem;
  top:0.05rem;
}
.new-cnv-contents{
  padding:0.4rem;
}

.new-cnv-body{
  .new-cnv-input-style();
  .body-font();
  color:@textColor;
  background-color: white;
  resize: vertical;
  min-height: 15rem;
  max-height:25rem;
  height:15rem;
  margin:0;
  border:1px solid #CCC;
  display:block;
}

.placeholder-style{
  color:#CCC;
  //font-style: italic;
  //font-weight: normal;
  //line-height: 1.8;
  //font-size:0.75rem;
}
::-webkit-input-placeholder {.placeholder-style();}
:-moz-placeholder { .placeholder-style();}
::-moz-placeholder { .placeholder-style();}
:-ms-input-placeholder {.placeholder-style();}




// -- Long Form -- //

.long-form-compose{
  background-color:rgba(128,128,128,0.4);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  .pop-over();
}

.long-form-window{

  min-width:25rem;
  max-width:45rem;

  margin-top:4rem;
  margin-left:auto;
  margin-right:auto;

  background-color: @backgroundDarkerColor;
  border: 1px solid @borderColor;
  padding: 0;
  box-shadow: 0 1rem 4rem 1rem rgba(0,0,0,0.3);
}

// .toolbar-text{
//   font-size:1rem;
// }

.long-form-contents{

  max-height:30rem;
  overflow-y:auto;
  background-color:#EEE;
}

.long-form-title{
  .title-font();
  font-size: 1rem;
}

.long-form-textarea{
  padding:.4rem;
}

.text-long-form {
  width: 100%;
  //resize: vertical;
  min-height: 15rem;
  max-height:25rem;
  height:15rem;
  margin-bottom: 0;
}

textarea.write{
  padding: 2px 5px;
  font-size: .9em;
  line-height: 1.5em;
  box-sizing:border-box;
  width: 100%;
  //height: 1em;
  resize: vertical;
  border: 1px solid #CCC;
  color: @textColor;
  background-color: @backgroundColor;
  outline: none;
  display: block;
  .body-font();
  box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
  &:focus {
    outline: none;
    box-shadow:inset 0 0 5px rgba(0,0,255,0.2);
    border-color: #ABC;
  }
}



.cnv-compose-short-input{
  position: relative;
}

// Compose //

.short-form-compose {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EEE;
  border-top:1px solid #AAA;
  padding:0.35rem;
  min-height: 2.75rem;
}

.act-container.not-participating-in .short-form-compose > *{
  display:none;
}

.act-compose-short-input{
  position: relative;
  margin-right:4rem;
  margin-left:2.5rem;
  textarea{
    max-height:10rem;
    min-height: 2.0rem;
    height:2.0rem;
  }
}

.enable-long-form-group{
  position: absolute;
  top:50%;
  left:0.35rem;
  margin-top:-0.85rem;
}

.act-short-form-send-group{
  position: absolute;
  right:0.2rem;
  top:50%;
  margin-top:-0.9rem;
  margin-left:0;
  margin-right:0;
}

