@import 'variables.css.less';
@import 'mixins.css.less';
@import 'modal.css.less';

.ef-window{
//this is to override the participants list visual styles.  it shouldn't be ncessary once that is refactored.
  .modal-content{
    overflow:auto;

  }

  .act-participants{
    padding:0.25rem;
    border:1px solid #CCC;
    background-color: transparent;
    &.editing{
      border-color:#ABC;
      box-shadow: inset 0 0 5px rgba(0,0,255,0.2);
      background-color: @modal-input-highlight-background;
    }
    .participant-text{
      //font-size: 1.0rem;
    }
  }
  .participant{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  .token-input{
    border:none !important;
    box-shadow:none !important;
    background-color: transparent !important;
    height:auto;
    padding:0;
    margin:0;
  }
  .token-options{
    z-index: 10;
  }
}


.ef-window-content{
  overflow:visible !important;
  // This is to make the autocomplete box show up properly.  If the autocomplete can be made to show more correctly, then this line can be removed.
}
.ef-deletion-message{
  padding:0 0.5rem;
  background-color: white;
  border:1px solid #CCC;
  > div{
    padding:0.25rem;
  }

  .ef-deletion-heading{
    border-bottom:1px solid #CCC;
    color:#FA6;
  }
  .ef-deletion-description{
    p{
      font-size:0.8rem;
      color:#888;
    }
  }
  .ef-deletion-options label{
    display:inline-block;
    font-weight: bold;
    color:#444;
  }
  .ef-deletion-cancel{
    display:inline-block;
    font-size:0.8rem;
    padding:0.25rem;
    .link-blue();
  }

}
