@import "variables.css.less";
@import "mixins.css.less";

.image-in-message {
  display: block;

  img {
    max-height: 20em;
    max-width: 90%;
  }
}

.color-swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: .5em;
}

.msg-text .image-in-message {
  text-align: center;
  & img{
    border: 1px solid #CCC;
    padding: .4rem;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,0.2);
  }
  & a{
    font-size:0.75rem;
    color:#CCC;
    &:hover{
      //color:#BBB;
    }
  }
}
