@import "mixins.css.less";
@import "variables.css.less";

.form {
  padding:0.5rem;
  //border:1px solid #CCC;
  //background-color: #EEE;


  label, input{
    display: block;
  }

  label {
    padding-left: .25em;
    font-size:0.75rem;
    color:#888;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea{
    font-size: 1rem;
    border: 1px solid @borderColor;
    color: @textColor;
    .body-font;
    outline:none;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    padding: .5em;
    background-color: white;
    margin-bottom: 10px;

    &:focus {
      border-color:#ABC;
      box-shadow: inset 0 0 5px rgba(0,0,255,0.2);
    }
  }
}
.form-btn{
  font-size:1.0rem;
  padding:0.25rem 0.6rem;
  border: 1px solid #CCC;
  margin:0 .25rem;
  text-align: center;
  font-weight: normal;
  background-color:#F0F0F0;
  color:#444;
  cursor:pointer;
  .button-shadow(0.2);
  .user-select(none);
  &:hover,
  &.hover{
     background-color:#D8E8F8;
   }
  &:active,
  &:focus,
  &.actve{
    box-shadow: none;
    position: relative;
    top:1px;
  }
}

.form-btn.form-btn-primary{
  border-color: #AAA;
  background-color:#7AD;
  color:white;
  .button-shadow(0.4);
  &:hover,
  &.hover{
    background-color:#8BE;
  }
}
