@import "mixins.css.less";
@import "variables.css.less";

.form {
  padding:10px;
  label, input {
    display: block;
  }
  label {
    padding-left: .5em;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea{
    font-size: 1rem;
    border: 1px solid @borderColor;
    color: @textColor;
    .body-font;
    outline:none;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.1);
    width: 100%;
    padding: .5em;
    background-color: white;
    margin-bottom: 10px;
  }
}
