@import 'variables.css.less';
@import 'mixins.css.less';

.grp-page {
  position:absolute;
  bottom:0;
  overflow:auto;
  left:0;
  right:0;
  top:2.5rem;

  .grp {
    border:1px solid #AAA;
    width:50rem;
    margin:2rem auto;
    .grp-name {
      .title-font();
    }


    .grp-unremove-user-trigger {
      //margin-left: 1.3rem;
      color: #DC471A;
      cursor: pointer;
    }

}

  table {
    .stripey-table;
    width: 100%;
    tbody{
      a{
        .link-blue();
      }
      td{
        text-overflow:ellipsis;
        overflow:hidden;
      }
    }
  }

  /* We set -webkit-apperance to `none` for all inputs in our root.css, which
     makes the checkboxes here disappear.  I don't want to screw with every
     other form we've got going on, so I'll just change it here. */
  input[type="checkbox"] {
    -webkit-appearance: checkbox;
  }
}

.grp-new-user-form{
  .modal-window{
    //background-color:#EEE;
    //width:30rem;
  }
}
// .grp-new-user-title{
//   .title-font();
// }

.grp-user-list{
  border:1px solid #DDD;
  background-color: #F8F8F8;
  list-style-type: none;
  padding:0;
  min-height: 2.0rem;
  li{
    padding:0.25rem 0.5rem;
    border-bottom:1px solid #DDD;
    &:last-child{
      border-bottom:none;
    }
  }
}
