@import "mixins.css.less";
@import "variables.css.less";


.home-main{
  z-index: -2;
  position:absolute;
  top:4rem;
  bottom:0;
  overflow-y:auto;
  right:0;
  left:0;

  .modal-window{
    box-shadow:none;
  }
}

.login-error-message{
  background-color:#FFF8F8;
  border:1px solid #FFD0D0;
  color:#C88;
  font-size:1.0rem;
  padding:0.5rem;
  margin:0.5rem 0;
  text-align: center;
}

.speakeasy-form-text{
  padding: 0.25rem;
  text-align: center;
  font-size:0.75rem;
  color:#888;
  a{
    .link-blue();
  }
  p{
    margin:0.25rem;
  }
}
