@import "mixins.css.less";
@import "variables.css.less";


.home-main{
  position:absolute;
  top:4rem;
  bottom:0;
  overflow-y:auto;
  right:0;
  left:0;
  .modal-window{
    box-shadow:none;
  }
}

.speakeasy-form-text{
  padding: 0.25rem;
  text-align: center;
  font-size:0.75rem;
  color:#888;
  a{
    .link-blue();
  }
  p{
    margin:0.25rem;
  }
}
