@import "variables.css.less";
@import "mixins.css.less";
@import "modal2.css.less";


.home-main.main{
  padding:1.0rem;
}

.info-page-wrapper{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #E0F0FF;
  overflow-y: auto;
  background-color: transparent;
}
.info-page{
  border-top:1px solid #ACF;
  background-color: white;
  @media(min-width:@bp-2){
    border-top:none;

  }
  .copy{
    color:#AAA;
  }
}

.info-main-description{
  background-color: white;
  padding:1.0rem;
  border-bottom:1px solid #ACF;
}
.info-main-description-content{
  background-color: white;
  margin:0 auto;
  max-width: @info-content-width;

  color:#AAA;
  padding:0.5rem 1.0rem;
  line-height: 1.5;
  a{.link-blue();}
  @media(min-width:@bp-1){
    padding:1.5rem 2.5rem;
  }
}

.info-about{
  .main{
    border-bottom:1px solid #ACF;
  }
  .copy{
    text-align: center;
    line-height: 1.7;
    a{.link-blue();}
  }
}


.lead-in{
  padding:1.0rem;
  border-bottom:1px solid #ACF;
  @media(min-width:@bp-1){
    border-bottom-color:#DDD;
  }
  background-color:#FAFAFA;
  font-size:1.5rem;
  text-align:center;
  color:black;
  font-weight: bold;
}

.copy{
  border:none;
  @media(min-width:@bp-1){
    border:1px solid #CCC;
  }
  font-size:1.0rem;
  max-width:@info-content-width;
  margin:0 auto;
  background-color: white;

  .tagline{
    color:#AAA;
    font-style:italic;
  }
  .section{
    padding:1.0rem;
    color:#666;
    p{
      font-size: 1.0rem;
      padding:0.75rem 1.5rem;
      @media(min-width:@bp-1){
        font-size: 1.1rem;
        padding:0.75rem 4.0rem;
        line-height: 2.0;
      }
    }
  }
}

.info-main-pricing {
  text-align: center;
  h1 {
    font-size: 30px;
    font-family: lato;
    color: #666;
    margin-bottom: 20px;
  }
}

.pricing-block {
  display: inline-block;
  border: 1px solid;
  vertical-align: top;
  height: 100%;
  //width: 12em;
}



.jumbo-tron{
  background-color: transparent;
  margin-top:0.5rem;
  margin-bottom:0.5rem;

  @media(min-width:@bp-1){
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 30px;
    font-family: lato;
    color: white;
    margin-bottom: 25px;
    text-align: center;
    @media(min-width:@bp-1){
      font-size: 63px;
    }
  }
  h2 {
    font-size: 16px;
    font-family: lato;
    color: white;
    text-align: center;
    @media(min-width:@bp-1){
      font-size: 25px;
    }
  }
  .beta-signup-form {
    color: white !important;
  }
}

.pricing-table{
  text-align: center;
  display:table;
  width:100%;
  table-layout: fixed;

  .pricing-main{
    display:table-row;
    width:auto;
  }
  .pricing-cell{
    display:table-cell;
    width:auto;
    margin:0.5rem;
    padding:0.5rem;
    .pricing-cell-content{
      border:@border-1;
      background-color: #FAFAFA;
      border-radius:0.25rem;
    }
  }
}
.pricing-block-title {
  font-weight: bold;
  color: #666
}

.sign-up-style(){
  padding:0.75rem 1.0rem;
  font-size:1.0rem;
  outline:none;
  margin:0;
  color:#666;
  border:1px solid #CCC;

}

.beta-signup-form{
  padding:0.5rem 1.0rem;
  .clearfix();
  border:none;
  background-color: transparent;
  margin:1.0rem;
  text-align: center;

  color: #333;

  .sign-up-inputs{
    .clearfix();
    padding:0.5rem;
  }

  @signup-radius:0.3rem;
  @button-width:10rem;

  .input-wrapper{
    margin:0.5rem;
    @media(min-width:@bp-1){
      margin:0;
      margin-right:@button-width;
    }
  }
  .beta-signup-input{
    .sign-up-style();

    border-radius: @signup-radius;
    margin:0;
    line-height: 1.0;
    width:100%;
    &:focus{
      box-shadow:inset 0 0 3px rgba(0,128,255,0.2);
      border-color:#2080DD;
    }
    @media(min-width:@bp-1){
      border-right:none;
      margin:0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float:left;
    }
  }



  .beta-signup-submit{
    .sign-up-style();
    border-color:rgba(0,0,0,0.1);
    cursor:pointer;
    background-color: #2080DD;
    color: white;
    border-radius: @signup-radius;
    &:hover{
      background-color: #3090DD;
    }
    @media(min-width:@bp-1){
      border-right:none;
      margin:0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width:@button-width;
      display:inline-block;
      float:right;
    }
  }



  @media(min-width:@bp-1)


}

.beta-signin-submit{
  .sign-up-style();
  border-color:rgba(0,0,0,0.1);
  cursor:pointer;
  background-color: #2080DD;
  color: white;
  border-radius: 0.3rem;
  &:hover{
    background-color: #3090DD;
  }
  @media(min-width:@bp-1){
    border-right:none;
    margin:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width:10rem;
    display:inline-block;
    float:right;
  }
}

.info-main-description-explain {
  border: none !important;
  padding:0;
  ul{
    padding:0;
  }
  li {
    list-style: none;
    margin-bottom: 3rem;

    p {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin-right: 9%;
      color: #333;
    }

    img {
      width: 25%;
    }
  }

  li:nth-child(2n) {
    p {
      text-align: right;
      margin-right: 0;
      margin-left: 4%;
    }
  }
  @media(min-width:@bp-1){
    padding:0.75rem;
  }
}


.main-top-toolbar{
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.main-top-toolbar-inner{
  .clearfix();
  max-width:@info-content-width;
  margin:0 auto;
  position: relative;
  padding: 0 1.0rem;
}

.beta-sign-in-toggle{
  float:right;
  padding:0.25rem 0.5rem;
  color:white;
  cursor: pointer;
}



.beta-sign-in-form{
  .modal-2();
  position:absolute;
  top:2rem;
  right:1.0rem;
  left:1.0rem;
  @media(min-width:@bp-1){
    width:20rem;
    left:auto;
  }
}

.beta-sign-in-toolbar-bottom{
  .modal-2-toolbar();
  .clearfix();
}

.beta-sign-in-content{
  .modal-2-content();
  .clearfix();
}

.beta-sign-in-reset-password-link{
  padding:0.25rem;
  float:right;
}

.beta-sign-in-button{
  .modal-2-button();
}
