@import "variables.css.less";
@import "mixins.css.less";

.info-page-wrapper{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #E0F0FF;
  overflow-y: auto;
  background-color: transparent;
}
.info-page{
  border-top:1px solid #ACF;
  background-color: white;
  @media(min-width:@bp-2){
    border-top:none;

  }
  .copy{
    color:#AAA;
  }
}

.info-main-description{
  background-color: white;
  padding:1.0rem;
  border-bottom:1px solid #ACF;
}
.info-main-description-content{
  background-color: white;
  margin:0 auto;
  max-width: @info-content-width;

  color:#AAA;
  padding:0.5rem 1.0rem;
  line-height: 1.5;
  a{.link-blue();}
  @media(min-width:@bp-1){
    padding:1.5rem 2.5rem;
  }
}

.info-about{
  .main{
    border-bottom:1px solid #ACF;
  }
  .copy{
    text-align: center;
    line-height: 1.7;
    a{.link-blue();}
  }
}


.lead-in{
  padding:1.0rem;
  border-bottom:1px solid #ACF;
  @media(min-width:@bp-1){
    border-bottom-color:#DDD;
  }
  background-color:#FAFAFA;
  font-size:1.5rem;
  text-align:center;
  color:black;
  font-weight: bold;
}

.copy{
  border:none;
  @media(min-width:@bp-1){
    border:1px solid #CCC;
  }
  font-size:1.0rem;
  max-width:@info-content-width;
  margin:0 auto;
  background-color: white;

  .tagline{
    color:#AAA;
    font-style:italic;
  }
  .section{
    padding:1.0rem;
    color:#666;
    p{
      font-size: 1.0rem;
      padding:0.75rem 1.5rem;
      @media(min-width:@bp-1){
        font-size: 1.1rem;
        padding:0.75rem 4.0rem;
        line-height: 2.0;
      }
    }
  }
}

.info-main-pricing {
  text-align: center;
  h1 {
    font-size: 30px;
    font-family: lato;
    color: #666;
    margin-bottom: 20px;
  }
}

.pricing-block {
  display: inline-block;
  border: 1px solid;
  vertical-align: top;
  height: 100%;
  //width: 12em;
}



.jumbo-tron{
  background-color: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;

  h1 {
    font-size: 63px;
    font-family: lato;
    color: white;
    margin-bottom: 25px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    font-family: lato;
    color: white;
    text-align: center;
  }
  .beta-signup-form {
    color: white !important;
  }
}

.pricing-table{
  text-align: center;
  display:table;
  width:100%;
  table-layout: fixed;

  .pricing-main{
    display:table-row;
    width:auto;
  }
  .pricing-cell{
    display:table-cell;
    width:auto;
    margin:0.5rem;
    padding:0.5rem;
    .pricing-cell-content{
      border:@border-1;
      background-color: #FAFAFA;
      border-radius:0.25rem;
    }
  }
}
.pricing-block-title {
  font-weight: bold;
  color: #666
}

.sign-up-style(){
  padding:0.75rem 1.0rem;
  font-size:1.0rem;
  outline:none;
  margin:0;
  color:#666;
  border:1px solid #CCC;

}

.beta-signup-form{
  padding:0.5rem 1.0rem;
  .clearfix();
  border:none;
  background-color: transparent;
  margin:1.0rem;
  text-align: center;

  color: #333;

  .sign-up-inputs{
    padding:0.5rem;
  }
  .submit-right{
    float:right;
    input{
      .sign-up-style();
      border: none;
      margin-top: 1px;
      border-top-right-radius: 4.5px;
      border-bottom-right-radius: 4.5px;
      cursor:pointer;
      background-color: #e03e49;
      color: white;
      &:hover{
        background-color: #f04e59;
      }
    }
  }
  .fill-width{
    overflow:hidden;
    width:auto;
    input{
      .sign-up-style();
      width:100%;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      margin:0;
      line-height: 1.0;
    }
  }
}

.info-main-description-explain {
  border: none !important;

  li {
    list-style: none;
    margin-bottom: 3rem;

    p {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin-right: 9%;
      color: #333;
    }

    img {
      width: 25%;
    }
  }

  li:nth-child(2n) {
    p {
      text-align: right;
      margin-right: 0;
      margin-left: 4%;
    }
  }
}
