@import 'variables.css.less';
@import 'mixins.css.less';

.message{
  padding: 0;
}
.msg-info{
  vertical-align: middle;
  font-size:0;
  padding:0.5rem 0.75rem;
  padding-bottom:0.25rem;
}
.msg-info-group{
  font-size:0;
  height: 1rem;
  line-height: 1rem;
  display: inline-block;
}

.msg-sender, .msg-time, .msg-action{
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  vertical-align: middle;
}
.msg-sender{
  overflow: ellipsis;
  font-weight: bold;
  font-size:1rem;
}

.msg-time{
  color:#CCC;
  font-size:.75rem;
}
.msg-action{
  font-size: .75rem;
  margin-right:.5rem;
  i{
    font-size: 1rem;
  }
}


.msg-text {
  padding:0.5rem 0.75rem;
  padding-top:0;
  white-space: pre-wrap;
  a{
    text-decoration: none;
    color: #28D;
    word-wrap: break-word;
    &:hover{
      text-decoration: underline;
    }
  }
}
