@import "variables.css.less";

.title-font {
  font-family: Oswald, sans-serif;
}

.body-font {
  font-family: Lato, sans-serif;
}

@usualBorderDefinition: 1px solid @borderColor;
.usual-border(all) {
  border: @usualBorderDefinition;
}

.usual-border(top) {
  border-top: @usualBorderDefinition;
}

.usual-border(bottom) {
  border-bottom: @usualBorderDefinition;
}

.usual-border(left) {
  border-left: @usualBorderDefinition;
}

.usual-border(right) {
  border-right: @usualBorderDefinition;
}

.absolutely-centered(@width, @height) {
  position: absolute;
  height: @height;
  width: @width;
  top: 50%;
  left: 50%;
  margin-top: -(@height / 2);
  margin-left: -(@width / 2);
}

.transition(@property, @duration: 0.5s, @function: linear, @delay: 0) {
  -webkit-transition: @property @duration @function @delay;
  -moz-transition: @property @duration @function @delay;
  -o-transition: @property @duration @function @delay;
  transition: @property @duration @function @delay;
}

.text-button() {
  border: 1px solid transparent;
  padding: 3px 15px;
  margin-top: 0;
  font-size: 1em;
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  color: @textColor;
  .body-font;

  &:hover {
    border-color: @borderColor;
    background-color: @backgroundColor;
    cursor: pointer;
  }

  &:active {
    background-color: @lightBlue;
  }
}
