@import 'variables.css.less';
@import 'mixins.css.less';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.4);
  overflow-y:auto;
  z-index:2;

}

.modal-window{
  margin:5rem auto 1.0rem;
  width:30rem;
  background-color:white;
  border:1px solid #AAA;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.modal-message {
  .modal-window;
}

.modal-title{
  .title-font();
}
@modal-background:#F8F8F8;
@modal-input-border-color:#D8D8D8;
@modal-input-highlight-background:#FFF;

.modal-content{
  background-color: @modal-background;
  padding:0.5rem;
  overflow-x:hidden;
  overflow-y:auto;
  color:#666;
  max-height: 20rem;
  p{
    margin:0;
    margin-top:1.0rem;
    &:first-child{
      margin-top:0;
    }
  }

  label, input{
    display: block;
  }

  label {
    padding-left: .25em;
    font-size:0.75rem;
    color:#888;
  }

  input,
  textarea{
    font-size: 1rem;
    border: 1px solid @modal-input-border-color;
    .body-font;
    outline:none;
    color:#888;
    width: 100%;
    padding: .5em;
    background-color: @modal-background;
    margin-bottom: 10px;

    &:focus {
      color:#444;
      border-color:#ABC;
      box-shadow: inset 0 0 5px rgba(0,0,255,0.2);
      background-color: @modal-input-highlight-background;
    }
  }
}


