@import 'variables.css.less';
@import 'mixins.css.less';

.button(@color:#888){
  font-size:1.0rem;
  color:white;
  padding:0.5rem 1.0rem;
  border:none;
  border-radius:3px;
  cursor: pointer;
  margin:0;
  outline:none;
  background-color: @color;
  &:hover{
    background-color: (mix(white, @color, 50%))
  }
}

.contact-list-edit-box-wrap{
  z-index: 2;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.2);
}

.contact-list-edit-box{
  position: relative;
  margin: 4.0rem auto;
  width:30rem;
  height: 20rem;
  border:@border-2;
  background-color: @bg-1;
  border-radius:3px;

  .group.right{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    padding:0.35rem 0.35rem 0;
  }

  .header{
    .abs-pos-fill();
    bottom:auto;
    height:3.0rem;
    border-bottom:@border-2;
    background-color: @bg-2;
    .contact-list-title{
      display:inline-block;
      font-size:1.5rem;
      padding-top:0.5rem;
      color:#888;
    }
  }
  .close-button{
    .button();
  }

  .contents{
    .contact-list-name-input{
      display:block;
      width: 100%;
    }
  }
  .bottom-toolbar{
    border-top:@border-2;
    background-color: @bg-2;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:3.0rem;
  }
  .contact-list-edit-save-button{
    .button(@color:blue;);

  }
}
