@import 'variables.css.less';
@import 'mixins.css.less';

.profile-page{
  .full-page();
}

.profile-update-form{
  width:40rem;
  margin:5rem auto;
  border:@border-1;
}


.message{
  border:1px solid #CCC;
  border-top-color:#DDD;
  padding:0.5rem;
  color:#888;
  margin:0.5rem 0;
  background-color: #FAFAFA;
}

.error-messages{
  .message();
  background-color: #FEE;
}
.success-messages{
  .message();
  background-color: #EFE;
}
