@import 'variables.css.less';
@import 'mixins.css.less';

.search-results {
  min-height: 10rem;
  max-height: 30rem;

  .search-in-progress,
  .search-no-results {
    text-align: center;
  }

  .search-in-progress {
    i {
      -webkit-animation: spin 1s linear 0s infinite;
      -moz-animation: spin 1s linear 0s infinite;
      -o-animation: spin 1s linear 0s infinite;
      animation: spin 1s linear 0s infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0.0turn);
  }

  to {
    transform: rotate(1.0turn);
  }
}

.search-popover{
  width:22rem;
}



.search-input{
  background-color: blue;
}
.search-results{
  overflow-x: hidden;
  overflow-y: auto;
}
.search-results-list{
  margin:0;
}

.search-result{
  border-bottom: @border-1;
  padding:0.25rem;
  cursor: pointer;
  &:hover{
    background-color: #EEE;
  }
}

  .search-result-title{
    .title-font();
    .ellipsis();
    font-size:0.9rem;
  }
  .search-result-participants{
    font-size:0.8rem;
    color:#666;
    .ellipsis();
  }

.search-result-headline{
  font-size:0.7rem;
  color:#888;
}

.search-result-headline-highlight{
  background-color: yellow;

}
