@import 'variables.css.less';
@import 'mixins.css.less';

.popover.search-popover{
  width:22rem;
  top:120%;
  right:0.6rem;
  min-height: 0;
  &:after{
    border-bottom-color: @stb-background-color;
  }

}
.popover-content{
  background-color: @stb-background-color;
}
.search-input{
  padding:0.35rem;
  input{
    width:100%;
    padding:0.25rem;
    margin:0 !important;
  }
}


.search-input{
  background-color: @stb-background-color;
}

/* Search in progress */

.search-in-progress,
.search-no-results{
  text-align: center;
  padding:1rem;
  border:@border-1;
  background-color: white;
  min-height: 3rem;
  max-height: 6rem;
  color:#AAA;
  font-size:0.9rem;
  font-style:italic;
}


/* Search Results */


.search-results{
  background-color: @stb-background-color;
  padding:0.35rem;
  padding-top:0;
}
.search-results-list{
  min-height: 10rem;
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
  border:@border-1;
  background-color: white;
  margin:0;
}

.search-result{
  border-bottom: @border-1;
  padding:0.25rem;
  cursor: pointer;
  &:hover{
    background-color: rgba(128,128,128,0.05);
  }
}

  .search-result-title{
    .title-font();
    .ellipsis();
    font-size:0.9rem;
  }
  .search-result-participants{
    font-size:0.8rem;
    color:#666;
    .ellipsis();
  }

.search-result-headline{
  font-size:0.7rem;
  color:#888;
}

.search-result-headline-highlight{
  padding:1px;
  background-color: rgba(255,255,0,0.4);

}
