// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import "mixins.css.less";
@import "variables.css.less";

body.not-logged-in {
  background-color: rgba(235, 245, 255, 0.9);
  overflow: auto;
}

.login-form {
  background-color:#EEE;
  border:1px solid #CCC;
  height:auto;

  input[type='email'],
  input[type='password']{
    color:#666;
    background-color:rgba(255,255,255,0.8);
  }
}
