// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import "mixins.css.less";
@import "variables.css.less";

body.not-logged-in {
  background-image: url('/assets/background-water.jpg');

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.login-form {
  .absolutely-centered(@soloHeroWidth / 3, @soloHeroHeight / 2);
  h1 {
    text-align: center;
    font-size: 300%;
    //line-height: 0;
    margin-top:0;
    margin-bottom:1rem;
    color:#7AD;
    text-shadow:1px 1px 1px white;
  }
  //padding:1rem;
  background-color:rgba(64,64,64,0.2);
  .usual-border(all);
  height:auto;

  input[type='email'],
  input[type='password']{
    color:#888;
  }
}

.attribution {
  position: absolute;
  bottom: .3rem;
  right: .5rem;

  a {
    font-size:.8rem;
    font-style:italic;
    text-decoration: none;
    color: #BBB;
    text-shadow:1px 1px 1px white;

    &:hover {
      text-decoration: underline;
      //color: @textColor;
    }
  }
}



// This is a utility function that should be integrated into the boots files

.btn-group.pull-right .btn:last-child{
  margin-right:0;
}
