@import 'variables.css.less';
@import 'mixins.css.less';


// --- Structural Bar --- //

@stb-background-color:#80A0C0;
@stb-color: #E0E4E8;
@stb-hover:white;
@stb-active:white;

.structural-bar{
  box-sizing:border-box;
  background-color: @stb-background-color;
  height:2.5rem;
  min-width:@app-min-width;
}


.stb-group{
}
.stb-link,
.stb-name{
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  padding:0.45rem;
  margin:0 0.1rem;
  & > i {
    color:@stb-color;
  }
}

.stb-link{
  cursor:pointer;
  position:relative;
  .stb-link-text{
    font-size:1.25rem;
    font-weight: bold;
    color:@stb-color;
  }
  &:hover, &.hover{
    & > i, .stb-link-text{
      color:@stb-hover;
      transition: color 0.35s;
    }
  }
  &:active,
  &.active,
  &:focus{
    top:1px;
  }
}

@link-size:1.5rem;

.stb-icon{
  font-size:@link-size;
}

.stb-link-text,
.stb-name-text{
  display:inline-block;
  padding-top:1px;
  line-height: @link-size;
  vertical-align: top;
}

.stb-link-text{
  font-size:1.25rem;
  font-weight: bold;
  color:@stb-color;
}
.stb-name-text{
  font-size:1.0rem;
  color:@stb-color;
}

.stb-selected{
  .stb-icon,
  .stb-link-text{
    color:@stb-active;
  }
}
