@import 'variables.css.less';
@import 'mixins.css.less';


// --- Structural Bar --- //

@stb-background-color:#80A0C0;
@stb-color: #E0E4E8;
@stb-hover:white;
@stb-active:white;

.structural-bar{
  box-sizing:border-box;
  background-color: @stb-background-color;
  height:2.5rem;
  min-width:@app-min-width;
}


.stb-group{
}
.stb-link,
.stb-name{
  display: inline-block;
  color:@stb-color;
  text-decoration: none;
  vertical-align: top;
  padding:0.45rem;
  margin:0 0.1rem;
}

.stb-link{
  cursor:pointer;
  &:hover,
  &.hover{
    color:@stb-hover;
    transition: color 0.35s;
    -moz-transition:color 0.35s;
    -webkit-transition: color 0.35s;
  }
  &:active,
  &.active,
  &:focus{
    position: relative;
    top:1px;
  }
}

@link-size:1.5rem;

.stb-icon{
  font-size:@link-size;
}

.stb-link-text,
.stb-name-text{
  display:inline-block;
  padding-top:1px;
  line-height: @link-size;
  vertical-align: top;
}

.stb-link-text{
  font-size:1.25rem;
  font-weight: bold;
}
.stb-name-text{
  font-size:1.0rem;
  color:@stb-color;
}

.stb-selected{
  .stb-icon,
  .stb-link-text{
    color:@stb-active;
  }
}
