@import "variables.css.less";

.token-container {
  width: 100%;
  border: 1px solid @inputBorderColor;
  background-color: @inputBackgroundColor;
  font-family: sans-serif;
  cursor: text;
  position: relative;
  text-align: left;

  .token-input {
    margin: 0;
    font-size: 1em;
    display: inline-block;
    width: 3em;
    border: none;
    outline: none;
  }

  .token-options {
    margin-top: 0;
    padding-left: 0.2em;
    position: absolute;
    left: -4px;
    right: -1px;

    .token-option {
      cursor: pointer;
      list-style-type: none;
      border: 1px solid #666;
      border-bottom-width: 0;

      &:last-child {
        border-bottom-width: 1px;
      }

      &.target {
        background-color: #d9edf7;
      }
    }
  }

  .tokens {
    padding: .2em;
    margin: 0;
    display: inline-block;

    > li {
      display: inline-block;
    }

    .token {
      padding: .2em .6em .2em .2em;
      margin-right: .2em;
      margin-bottom: .2em;
      border: 1px solid #3a87ad;
      border-radius: 3px;
      background-color: #d9edf7;

      .close {
        cursor: pointer;
        margin-left: .5em;
        display: inline-block;
        position: relative;
        top: -0.8em;
        left: .1em;
        -webkit-transform: rotate(45deg);

        &:after {
          content: "";
          height: .7em;
          width: .1em;
          background-color: #555;
          display: block;
          position: absolute;
          left: .3em;
        }

        &:before {
          content: "";
          height: .1em;
          width: .7em;
          background-color: #555;
          display: block;
          position: absolute;
          top: .3em;
        }
      }
    }
  }
}














