@import "mixins.css.less";
@import "variables.css.less";

.conversation-info{
    text-align: left;
    background-color: @backgroundDarkerColor;
//    position: relative;
    margin: 0;
//    .usual-border(all);
    border-width: 0;
    border-bottom: 1px solid #CCC;
    .title-font();
    form {
          input[type="submit"] {
              display: none;
          }
          input{
              background-color: transparent;
          }
    }

    & form, 
    & form.title{padding:0; margin:0;border:none;}
    height:auto;
    overflow: visible;
    padding:0;
    margin:0;
    z-index: 2;
    & input.title{
        padding:.4rem;
        border:none;  
        margin:0;
        width:100%;
        outline:none;
    }
    & div.token-container{
        overflow: visible;
        width: 100%;
        margin:0;
        font-family: sans-serif;
        //border:none;
        cursor: default;
        font-size: 1rem;
        padding: .2rem;
        outline: none;
    }
    .title{
//        text-align: center;
        font-weight: bold;
        .body-font();
        border-bottom: 1px solid #CCC;
    }
    .token-container {
      position: relative;
//      text-align: center;
          .token-options {
              margin-top: 0;
            padding-left: 0.2em;
            position: absolute;
            left: -3px;
            right: 0;
            background-color: @backgroundColor;
    
        .token-option {
          cursor: pointer;
          list-style-type: none;
          border: 1px solid @inputBorderColor;
          border-bottom-width: 0;
          .body-font();
    
          &:last-child {
            border-bottom-width: 1px;
          }
    
          &.target {
            background-color: #d9edf7;
          }
        }
      }
      
      .tokens {
        padding:0;
        padding-top:0;
        margin: 0;
        display: inline-block;
    
        > li {
          display: inline-block;
          list-style-type: none;
        }
      }
    }

}
    
    
    // Styling the Tokens

.token-container{
     & .token-input {
            margin: 0;
            font-size: 1em;
            display: none;
            width: 5em;
            border: none;
            outline: none;
            background-color: transparent;
      }
     &.focus .token-input{display: inline;}
    & .token{
        .body-font();
        border-radius: .2rem;
        margin:0;
        padding:0;
        border:none;
        cursor: default;
        font-size:.8rem;
        color:#888;
        & .close{
           display: none;
        }
    }
    
    .token + .token:before{
            content: ",  "
    }
}

input.title:focus, 
.token-container.focus{
    background-color: white;
}
input.title:focus{
    border-bottom:1px solid #CCC;
}
.token-container.focus{
    border-top:1px solid #CCC;
}

.token-container.focus .token{
    padding:.05rem .3rem .1rem;
    margin-right: .5rem;
    font-size: 0.8rem;
    border: none;
    box-shadow: 0px 1px 2px #AAA;
    color: #444;
    text-shadow: 1px 1px 1px white;
    background-color: #DEF;
    
    // remove the commas
    &:before{display: none}
    & .close{
        padding-left:.3rem;
        display: inline;
        color:#CCC;
    //            text-shadow: 1px 1px 1px white;
        cursor: pointer;
    }
    &.close:hover{
        color:#666;
    }
}
    
    
    
    
    
    
    
    
    
