@import "mixins.css.less";
@import "variables.css.less";

.conversation-info{
    height:auto;
    overflow: visible;
    padding:.1rem;
    z-index: 100;
    .title, .token-container{
        overflow: visible;
        width: 100%;
        margin:0;
        border: 1px solid transparent;
        background-color: transparent;
        font-family: sans-serif;
        cursor: default;
        font-size: 1rem;
        padding: .1rem;
        outline: none;

        &:focus,
        &.focus{
            background-color: @inputBackgroundColor;
            border-color: @inputBorderColor;
            -webkit-transition: background-color .1s;

        }
    }
    .title{
        padding:.3rem;
        text-align: center;
        font-weight: bold;
        .body-font();
        &:focus{
            cursor: text;
        }
    }


    .token-container {
      position: relative;
      text-align: center;


      .token-options {
        margin-top: 0;
        padding-left: 0.2em;
        position: absolute;
        left: -4px;
        right: -1px;
        background-color: @backgroundColor;

        .token-option {
          cursor: pointer;
          list-style-type: none;
          border: 1px solid @inputBorderColor;
          border-bottom-width: 0;
          .body-font();

          &:last-child {
            border-bottom-width: 1px;
          }

          &.target {
            background-color: #d9edf7;
          }
        }
      }

      .tokens {
        padding: .2em;
        margin: 0;
        display: inline-block;

        > li.token, li.token-input-wrap {
          display: inline-block;
          list-style-type: none;
        }
      }
    }

}


    // Styling the Tokens

.token-container{
    &.focus{
        text-align: left;
    }

    li.user-reminder {
      margin-right: .4em;
      display: none;

      &:nth-last-child(2) {
        display: inline;
      }
    }

    & .token-input {
      margin: 0;
      font-size: 1em;
      display: none;
      width: 5em;
      border: none;
      outline: none;
      background-color: transparent;
    }
    &.focus .token-input{display: inline-block;}
    & .token, & .user-reminder{
      .body-font();
      border-radius: .2rem;
      cursor: default;
      font-size:.8rem;
      color:#888;
      & .close{
        display: none;
      }
    }

    .token + .token:before {
      content: ",  "
    }

    &.focus .token{
        border:1px solid #BDF;
        padding:.1rem .3rem;
        margin-right: .2rem;
        background-color: #F0F8FF;
        position: relative;
        &:before{display: none}
        & .close{
            padding-left:.3rem;
            display: inline;
            color:#CCC;
            text-shadow: 1px 1px 1px white;
            cursor: pointer;
        }
        &.close:hover{
            color:#666;
        }

    }
}









