@import "variables.css.less";
@import "mixins.css.less";
.topics{
  padding-top:.3rem;
}

.topic-margin{
  margin:0.2rem 0.4rem;
}
.topic-formatting{
  padding: 0.4rem;
  border:1px solid transparent;
}
.topic{
  .topic-margin();
  a{
    .topic-formatting();
    display: block;
    text-decoration: none;
    cursor:pointer;
    text-align:middle;
    color:#888;
    text-shadow:1px 1px 1px #EEE;
    &:hover{
    // -webkit-transition:border-color 0.2s,background-color 0.2s;
      background-color:#F8F8F8;
      border-color:#DDD;
    }
  }
}

.topic.current a{
  background-color: @highlightColor;
  border-color:#DDD;
  cursor: default;
}

/* New Topic button */

.topic-new{
    .topic-margin();
}

.topic-new-input{
  .body-font();
  .topic-formatting();
  outline:none;
  box-sizing:border-box;
  width:100%;
  background-color:transparent;
  display: block;
  font-size:1rem;
  text-decoration: none;
  cursor:pointer;
  text-align:middle;
  color:#CCC;
  text-shadow:1px 1px 1px #EEE;
  &:hover{
    background-color:#F4F4F4;
    border-color:#DDD;
    //color:#888;
  }
  &:focus{
    border-color:#DDD;
    background-color: white;
    box-shadow:inset 0 0 5px rgba(0,0,255,0.2);
    border-color: #ABC;
    color:#888;
  }
}



