@import "variables.css.less";
@import "mixins.css.less";
.topics{
  padding-top:.3rem;
}


.topic{
  margin:0.4rem 0.4rem;
  a{
    border:1px solid transparent;
    display: block;
    padding: .5rem;
    text-decoration: none;
    cursor:pointer;
    text-align:middle;
    color:#888;
    text-shadow:1px 1px 1px #EEE;
    &:hover{
    // -webkit-transition:border-color 0.2s,background-color 0.2s;
      background-color:#F8F8F8;
      border-color:#DDD;
    }
  }
}

.topic.current a{
  background-color: @highlightColor;
  border-color:#DDD;
  cursor: default;
}

/* New Topic button */

.topic-new{
    margin:0.4rem 0.4rem;
}

.topic-new-input{
  .body-font();
  outline:none;
  box-sizing:border-box;
  width:100%;
  border:1px solid transparent;
  background-color:transparent;
  display: block;
  font-size:1rem;
  padding: .5rem;
  text-decoration: none;
  cursor:pointer;
  text-align:middle;
  color:#CCC;
  text-shadow:1px 1px 1px #EEE;
  &:hover{
    //background-color:#FAFAFA;
    //border-color:#DDD;
    color:#888;
  }
  &:focus{
    border-color:#DDD;
    background-color: white;
    box-shadow:inset 0 0 5px rgba(0,0,255,0.2);
    border-color: #ABC;
    color:#888;
  }
}



