@import "variables.css.less";
@import "mixins.css.less";

.topic {
  cursor: pointer;

  &:hover {
    background-color: @highlightColor;
  }

  &.selected {
    background-color: @darkBlue;
    cursor: default;

    a {
      color: white;
      cursor: default;
    }
  }

  a {
    display: block;
    padding: .5rem;
    text-decoration: none;
  }
}

.new-topic {
  text-align: center;
  .text-gray-dark();

  .new-topic-edit {
    cursor: pointer;
  }

  form {
    display: none;

    input[type="submit"] {
      display: none;
    }

    input[type="text"] {
      width: 100%;
    }
  }

  &.focus {
    .new-topic-edit {
      display: none;
    }

    form {
      display: block;
    }
  }
}
