// --- Topics --- //

.tpc-list{
  background-color:#F8F8F8;
}

.tpc-hint{
  padding:.3rem;
  margin:.3rem;
  border:1px solid #DDD;
  background-color:#FFF8E8;
  color:#888;
  font-size:.8rem;
}

.tpc{
  a{
    text-decoration: none;
    display: inline-block;
    padding:.3rem;
    color:#888;
  }
}
