.ux-testbed-container{
    width:500px;
    margin:10px auto;
    border:1px solid blue;
    min-height: 500px;

}


// Toolbars //

@wc-toolbar-color: #EEE;
@wc-toolbar-border-color: #AAA;
.btn-toolbar{
  background-color:@wc-toolbar-color;
  border-bottom:1px solid @wc-toolbar-border-color;
}




@cnv-participant-gray:#AAA;

@cnv-border-color:#CCC;

.cnv{
  a{
    text-decoration: none;
  }
  padding:.3rem;
  border-bottom:1px solid @cnv-border-color;
}
.cnv-title{
  font-weight: bold;
}

.cnv-participants{
  font-size:.8rem;
  color:@cnv-participant-gray;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cnv-participant + .cnv-participant:before{
  content:",  ";
}

// Topics

.tpc-list{
  background-color:#F8F8F8;
}

.tpc-hint{
  padding:.3rem;
  margin:.3rem;
  border:1px solid #DDD;
  background-color:#FFF8E8;
  color:#888;
  font-size:.8rem;
}

.tpc{
  a{
    text-decoration: none;
    display: inline-block;
    padding:.3rem;
    color:#888;
  }
}

// Actions //

.act-title{
  position: relative;
  height:2rem;
  background-color:#EEE;
  border-bottom:1px solid @wc-toolbar-border-color;
}

.act-title-input{
  background-color:transparent;
  border:none;
  width:100%;
  height:2rem;
  padding:.5rem;
  font-size: 1rem;
  font-weight: bold;
  //overflow:hidden;
  //display:block;
}
.act-title-actions{
  position: absolute;
  top:0;
  right:0;
  padding:.1rem;
}


.act-list{
  padding:.5rem;
}

.act{
  padding:.3rem;
}

.act-message{
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
  margin-top:1px;
}

.act-sender{
  font-weight: bold;
}

.act-info-group{
  display:inline-block;
}

.act-time{
  color:#DDD;
  font-size: .75rem;
  vertical-align: middle;
  display: inline-block;
}

.act-text{
  padding:0.3rem 0;
}

.act-update-users,
.act-retitle,
.act-deletion{
  font-size:.75rem;
  color:#CCC;
  text-align: center;
}

.long-form-compose{
  display:none;
}

