@backgroundColor: #FFF;
@textColor: #444;

// TODO: Figure out what these mean semantically and rename them.
// Colors pulled from https://kuler.adobe.com/#themeID/2173697 because it looked nice.
@darkBlue: rgb(5, 59, 68);
@lightBlue: rgb(225, 240, 255);
@red: rgb(165, 53, 57);
@orange: rgb(185, 84, 60);
@yellow: rgb(234, 208, 117);

@backgroundDarkColor: darken(@backgroundColor, 5%);
@backgroundDarkerColor: darken(@backgroundColor, 10%);
@backgroundDarkestColor: darken(@backgroundColor, 15%);

@borderColor: darken(@backgroundColor, 30%);
@borderDarkColor: @backgroundDarkestColor;

@unreadColor: #ABC;

@highlightColor: @lightBlue;

@scrollbarColor: darken(@backgroundColor, 20%);
@scrollbarHoverColor: darken(@backgroundColor, 40%);
@inputBorderColor: darken(@backgroundColor, 20%);
@inputBackgroundColor: lighten(@backgroundColor, 20%);

@soloHeroWidth: 70em;
@soloHeroHeight: 40em;

// Layout Heights

 @headerHeight: 5rem;
 @contentHeight: 600px;
 @composeHeight: 50px;
 @infoHeight: 60px;



@wc-toolbar-color: #EEE;
@wc-toolbar-border-color: #AAA;


@toolbar-height:2.5rem;

// Widths

@navigationWidth: 250px;
@listWidth: 300px;
@conversationWidth: 700px;
@dividerWidth: 1px;

