@backgroundColor: #333;
@textColor: #ccc;

// TODO: Figure out what these mean semantically and rename them.
// Colors pulled from https://kuler.adobe.com/#themeID/2173697 because it looked nice.
@darkBlue: rgb(5, 59, 68);
@lightBlue: rgb(6, 115, 108);
@red: rgb(165, 53, 57);
@orange: rgb(185, 84, 60);
@yellow: rgb(234, 208, 117);

@soloHeroWidth: 70em;
@soloHeroHeight: 40em;

@headerHeight: 30px;
@contentHeight: 600px;
@navigationWidth: 150px;
@listWidth: 250px;
@conversationWidth: 600px;
@dividerWidth: 1px;
