@backgroundColor: #FFF;
@textColor: #444;

// TODO: Figure out what these mean semantically and rename them.
// Colors pulled from https://kuler.adobe.com/#themeID/2173697 because it looked nice.
@darkBlue: rgb(5, 59, 68);
@lightBlue: rgb(225, 240, 255);
@red: rgb(165, 53, 57);
@orange: rgb(185, 84, 60);
@yellow: rgb(234, 208, 117);

@backgroundDarkColor: darken(@backgroundColor, 5%);
@backgroundDarkerColor: darken(@backgroundColor, 10%);
@backgroundDarkestColor: darken(@backgroundColor, 15%);
@borderColor: darken(@backgroundColor, 30%);
@borderDarkColor: @backgroundDarkestColor;
@unreadColor: #ABC;
@highlightColor: @lightBlue;
@scrollbarColor: darken(@backgroundColor, 20%);
@scrollbarHoverColor: darken(@backgroundColor, 40%);
@inputBorderColor: darken(@backgroundColor, 20%);
@inputBackgroundColor: lighten(@backgroundColor, 20%);

@soloHeroWidth: 70em;
@soloHeroHeight: 40em;

@headerHeight: 40px;
@contentHeight: 600px;
@navigationWidth: 200px;
@listWidth: 300px;
@conversationWidth: 700px;
@dividerWidth: 1px;
@composeHeight: 50px;
