@import 'variables.css.less';
@import 'mixins.css.less';



// --- Layout --- //

.water-cooler {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: @toolbar-height;
  overflow:hidden;

& > .tpc-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15rem;
  border-right: 1px solid #AAA;
  overflow:hidden;
}

  & > .cnv-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15rem;
    width: 20rem;
    border-right: 1px solid #AAA;
    overflow:hidden;
  }

  & > .act-container {
    position: absolute;
    left: 35rem;
    top: 0;
    bottom: 0;
    right: 0;
    overflow:hidden;
  }
}
.short-form-compose {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

// --- Scroll Bars --- //

.water-cooler {

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track:horizontal {
    background-color: transparent;
    border-left: none;
    .usual-border(top);
    margin-left: -1px;
    margin-right: -1px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    .transition(background-color, 1.2s);
    border: 2px solid transparent;
    border-left: none;
    box-shadow: inset 0px 0px 0px 4px @scrollbarColor;
    .transition(box-shadow, 1s);
  }

  ::-webkit-scrollbar-thumb:horizontal {
    border-bottom: none;
    .usual-border(right);
  }

  ::-webkit-scrollbar-thumb:hover {
    .transition(background-color, 1.2s);
    box-shadow: inset 0px 0px 0px 4px @scrollbarHoverColor;
  }
}
