<tr>
  <td width='1%'></td>
  <td  width='4%'style='border-left:<%=quote_border%>;'></td>
  <td colspan='2' style='height: 16px; border-bottom:<%=border_1%>;'></td>
</tr>
<tr>
  <td width='1%'></td>
  <td  width='4%'style='border-left:<%=quote_border%>;'></td>
  <td colspan='2' style='height: 16px; '></td>
</tr>
