<tr class="info">
  <td width='1%'></td>
  <td  width='4%'style='border-left:2px solid cornflowerblue;'></td>
  <td class="sender" style="font-weight: bold;"><%= action.user.name %></td>
  <td class="time" style="text-align: right;color: #AAA;font-size: 12px;margin-top: 2px;"><%= spanify_characters(action.created_at.strftime('%-e %b %-I:%M%P')) %></td>
</tr>
<tr>
  <td width='2%'></td>
  <td  width='2%'style='border-left:2px solid cornflowerblue;'></td>
  <td class="act-text" colspan="2" style="font-size: 14px;white-space: pre-wrap;padding: 5px;line-height: 1.75;color: #444;"><%=action.text%></td>
</tr>
