<tr>
  <td colspan="4" style="font-size: 16px;white-space: pre-wrap;padding: 5px;line-height: 1.75;color: #444;"><%=action.text%></td>
</tr>

<tr>
  <td colspan="4" style='border-bottom:1px solid #CCC; height:10px;'></td>
</tr>

<tr>
  <td colspan='4' style='height:10px;'></td>
</tr>
