<table class="table" cellspacing='0' cellpadding='0' width='100%' style='margin:0; padding:0; width: 100%;'>
  <tbody class="wc-style" style="font-family: sans-serif; margin:0; padding:0;">
    <%= content.html_safe %>
  </tbody>
</table>
