<tr>
  <td colspan='4' style='color:#AAA; font-size:12px; background-color:#F8F8F8; border:1px solid #DDD;'>With: <%= (conversation.participants - [current_user]).map {|p| p.name }.join(', ') %>
</td>
