<tr>
  <td width='2%'></td>
  <td  width='2%'style='border-left:2px solid cornflowerblue;'></td>
  <td colspan='2' style='color:#AAA; font-size:12px; text-align:center'><%= action.user.name %> titled the conversation "<%= action.title %>"</td>
</tr>
