<a class="btn-icon btn-faint contacts-add-invite contact-add-invite-toggle"
   title="Add or Invite Contact">
  <i class="fa fa-fw fa-plus"></i>
</a>

<div class="contacts-add-invite-popover popover opens-south-west hidden">
  <div class="popover-header">
    Add / Invite Contact
    <a href="#" class="popover-close">
      <i class="fa fa-times"></i>
    </a>
  </div>

  <div class="popover-content">
    <div class="contact-input">
    </div>
    <div class="contacts-list">
    </div>
  </div>
</div>
