<a class="btn-icon btn-faint contacts-add-invite contact-add-invite-toggle"
   title="Add or Invite Contact">
  <i class="fa fa-fw fa-plus"></i>
</a>

<div class="contacts-add-invite-popover popover opens-south-west hidden">
  <div class="popover-header">
    Add / Invite Contact
    <a href="#" class="popover-close">
      <i class="fa fa-times"></i>
    </a>
  </div>

  <div class="popover-content">
    <div class="contact-input">
    </div>
    <div class="contacts-list">
    </div>
    <div class="invite-contact">
      <div class="invite-contact-explanation"><span class="contact-email"></span>is not using Water Cooler yet.  You can invite them to use Water Cooler if you'd like.  You have <span class="invite-count"></span> invites remaining.</div>
      <div class="no-invites-left-explanation">Sorry, you're all out of invites.

        If you have more friends or coworkers you want to invite drop us a line and we can see about getting you some more.

        You can start a Water Cooler conversation with the user 'Water Cooler Support' or send us an old fashioned email 'watercooler@structur.al'.</div>
      <button class="btn-primary btn-save"></button>
    </div>
    <div class="add-contact">
      <div class="add-contact-explanation"><span class="contact-name"></span> (<span class="contact-email"></span>) is a Water Cooler user. You can add them to your contact list and talk with them.</div>
      <button class="btn-primary btn-save"></button>
    </div>
    <div class="spinner hidden">
      <i class="fa fa-cog fa-spin"></i>
    </div>
    <div class="add-contact-error hidden">That operation didn't go through.  Try again, and if it keeps happening, contact Water Cooler Support and we'll fix it.</div>
  </div>
</div>
