<span class='contact-list-name title'><%= contactList.escape('name') %></span>
<div class='group left'>
  <button class='contacts-back-button'><i class='fa fa-chevron-left'></i></button>
</div>
<div class='group right'>
  <button class='new-contact-button'><i class='fa fa-plus'></i></button>
</div>

<div class='new-contact-form-popover'>

</div>
