<span class="act-participants-editor-wrap popover-wrap">
  <a href="#" class="btn-icon btn-faint act-participants-editor-toggle"
     title="Edit Participants">
    <i class="fa fa-plus"></i>
  </a>

  <div class="act-participants-editor-popover popover hidden">
    <div class="popover-header">
      Edit Participants
      <a href="#" class="popover-close">
        <i class="fa fa-times"></i>
      </a>
    </div>

    <div class="popover-content">
    </div>
  </div>
</span>
