<div class="btn-group act-participants-actions">

  <a href="#" class="btn-primary btn-small act-participants-join hidden">Join Conversation</a>
  <a href="#" class="btn-icon btn-faint btn-small act-participants-edit">
    <i class="icon-plus"></i>
  </a>
</div>

<div class="btn-group act-participants-save-actions hidden">
  <a href="#" class="btn-icon-primary btn-small act-participants-save">
    <i class='icon-ok'></i>
  </a>
</div>
