<span class="act-participants-editor-wrap popover-wrap">
  <a href="#" class="btn-icon btn-faint act-participants-editor-toggle"
     title="Edit Participants">
    <i class="fa fa-plus"></i>
  </a>

  <div class="act-participants-editor-popover popover hidden">
    <div class="popover-header">
      Edit Participants
      <a href="#" class="popover-close">
        <i class="fa fa-times"></i>
      </a>
    </div>

    <div class="popover-content">
      <div class="act-participants-editor-autocomplete">
      </div>
      <div class="act-participants-editor-list">
      </div>
    </div>

    <div class="btn-toolbar-below act-participants-editor-save-actions">
      <div class="btn-group pull-right">
        <a href="#" class="act-participants-save btn-primary">Save</a>
      </div>
    </div>
  </div>
</span>
