<span class="participant-text">
  <i class='fa fa-fw fa-envelope-o user-icon-external'></i>
  <%= participant.escape('name')%></span><span class="participant-remove"><i class='fa fa-times'></i></span>
