<div class='contact-list-edit-box'>
  <div class='header'>
    <span class='contact-list-title'><%= contactList.escape('name') %></span>
    <div class='group right'>
      <button class='close-button'>
        <i class='fa fa-times'></i>
      </button>
    </div>
  </div>

  <div class='contents'>
    <div class='errors hidden'></div>
    <label>Contact List Name</label>
    <input class='contact-list-name-input' value="<%= contactList.escape('name') %>"/>

    <% if (isShared) { %>
      <div class="cl-contact-list-participants participants-vertical">
        <label for="contact-list-participants">Participants</label>
        <div class="cl-placeholder">
          <i class="fa fa-fw fa-cog fa-spin loading-icon"></i>
          <div class="loading-text">Loading...</div>
        </div>
      </div>
    <% } else { %>
      <input type="button" value="Share this contact list" class="cl-share-contact-list-btn" />
    <% } %>
  </div>

  <div class='bottom-toolbar'>
    <div class='group right'>
      <button class='contact-list-edit-save-button'>Save</button>
    </div>
  </div>
</div>
