<span class='contact-lists-name title'>People</span>
<div class='group left'>
  <button class='contacts-structural-menu'><i class='fa fa-bars'></i></button>
</div>
<div class='group right'>
  <button class='contacts-new-contact-list'><i class='fa fa-plus'></i></button>
</div>
