<span class='contact-lists-name title'>People</span>
<div class='group left'>
  <button class='contacts-structural-menu'><i class='fa fa-bars'></i></button>
</div>
<div class='group right'>
  <button class='contacts-new-contact-list'><i class='fa fa-plus'></i></button>
</div>

<div class='contact-list-edit-box-wrap hidden'>
  <div class='contact-list-edit-box'>
    <div class='header'>
      <span class='contact-list-title'>[Contact List Name]</span>
      <div class='group right'>
        <button class='close-button'>
          <i class='fa fa-times'></i>
        </button>
      </div>
    </div>

    <div class='contents'>
      <label>Contact List Name</label>
      <input class='contact-list-name-input'/>

    </div>

    <div class='bottom-toolbar'>
      <div class='group right'>
        <button class='contact-list-edit-save-button'>Save</button>
      </div>
    </div>
  </div>
</div>
