<span class="search-result-title">
  <%= result.escape('conversation_title') %>
</span>
<span class="search-result-participants">
  <%= _.escape(result.get('conversation_participants')
                     .join(', ')) %>
</span>
<span class="search-result-headline">
  <%= result.get('joinedHeadline') %>
</span>
