<a href="#" class="stb-link search-toggle" title="Search">
  <i class="stb-icon fa fa-fw fa-search"></i>
</a>

<div class="search-popover popover opens-south-west hidden">
<!--   <div class="popover-header">
    Search
    <a href="#" class="popover-close">
      <i class="fa fa-times"></i>
    </a>
  </div>
 -->
  <div class="popover-content">
  </div>
</div>
