<span class="search-wrap popover-wrap">
  <a href="#" class="btn-icon btn-faint search-toggle" title="Search">
    <i class="fa fa-search"></i>
  </a>

  <div class="search-popover popover hidden">
    <div class="popover-header">
      Search
      <a href="#" class="popover-close">
        <i class="fa fa-times"></i>
      </a>
    </div>

    <div class="popover-content">
      <!-- TODO: Have content -->
      Content
    </div>
  </div>
</span>
