@import "ui/mixins.less";



@stb-background-color:#80A0C0;
@stb-color: #E0E4E8;
@stb-hover:white;
@stb-active:white;

.structural-bar{
  box-sizing:border-box;
  position:absolute;
  top:0;
  left:0;
  right:0;
  background-color: @stb-background-color;
  @media (min-width: @bp-1){
    height:2.5rem;
    z-index: 1;
  }

  @media (max-width: @bp-1){
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:auto;
  }
}


.stb-group{
  @media (max-width:@bp-1){
    float:none !important;
  }
}
.stb-link,
.stb-name{
  display:block; /* testing */
  text-decoration: none;
  vertical-align: top;
  padding:0.45rem;
  margin:0 0.1rem;
  & > i {
    color:@stb-color;
  }
  @media (min-width: @bp-1){
    display: inline-block;
  }
}

.stb-link{
  cursor:pointer;
  position:relative;
  .stb-link-text{
    font-size:1.25rem;
    font-weight: bold;
    color:@stb-color;
  }
  &:hover, &.hover{
    & > i, .stb-link-text{
      color:@stb-hover;
      transition: color 0.35s;
    }
  }
  &:active,
  &.active,
  &:focus{
    top:1px;
    & > i{color:white;}
  }
}

@link-size:1.5rem;

.stb-icon{
  font-size:@link-size;
}

.stb-link-text,
.stb-name-text{
  display:inline-block;
  padding-top:1px;
  line-height: @link-size;
  vertical-align: top;
}

.stb-link-text{
  font-size:1.25rem;
  font-weight: bold;
  color:@stb-color;
}
.stb-name-text{
  font-size:1.0rem;
  color:@stb-color;
}

.stb-selected{
  .stb-icon,
  .stb-link-text{
    color:@stb-active;
  }
}

.stb-link-sign-out{
  .stb-link-text{
    .ui-mobile-only();
  }
}

//Override default popover positioning because stb-bar stuff is a little weird.
.popover.wc-news-popover{
  top:110%;
  right:0.5rem;
}

/* Responsive Stuff */

.stb-link-settings,
.wc-news-wrap,
.stb-name{
  .ui-mobile-hidden();
}

.stb-link-testbed .stb-link-text,
.stb-link-dashboard .stb-link-text{
  .ui-tablet-hidden();
}
